latest/2.0/metadata.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  metadata.rnc
  Generated from templates
-->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="dblMetadataElement"/>
  </start>
  <define name="dblMetadataElement">
    <choice>
      <ref name="translationMetadata"/>
      <ref name="expressionMetadata"/>
      <ref name="translationAndExpressionMetadata"/>
    </choice>
  </define>
  <define name="translationMetadata">
    <choice>
      <ref name="textTranslationMetadata"/>
      <ref name="audioTranslationMetadata"/>
    </choice>
  </define>
  <define name="expressionMetadata">
    <choice>
      <ref name="textExpressionMetadata"/>
      <ref name="audioExpressionMetadata"/>
      <ref name="printExpressionMetadata"/>
    </choice>
  </define>
  <define name="translationAndExpressionMetadata">
    <choice>
      <ref name="textTranslationAndExpressionMetadata"/>
      <ref name="audioTranslationAndExpressionMetadata"/>
    </choice>
  </define>
  <define name="textTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="translationCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="textTranslationTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="translationCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="audioTranslationTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="textExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="textExpressionTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="printExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="printExpressionTypeElement"/>
        <ref name="printFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="audioExpressionTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="textTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="textTranslationAndExpressionTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="audioTranslationAndExpressionTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="translationCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="translationManifestElement"/>
      <ref name="translationSourceElement"/>
    </interleave>
  </define>
  <define name="expressionCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="promotionElement"/>
      <ref name="nonTranslationManifestElement"/>
      <ref name="publicationsElement"/>
      <optional>
        <ref name="translationSourceElement"/>
      </optional>
    </interleave>
  </define>
  <define name="translationAndExpressionCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="promotionElement"/>
      <ref name="translationManifestElement"/>
      <ref name="publicationsElement"/>
      <ref name="translationSourceElement"/>
    </interleave>
  </define>
  <define name="commonElements">
    <interleave>
      <ref name="identificationElement"/>
      <ref name="relationshipsElement"/>
      <ref name="agenciesElement"/>
      <ref name="countryElement"/>
      <ref name="namesElement"/>
      <ref name="copyrightElement"/>
      <ref name="archiveStatusElement"/>
    </interleave>
  </define>
  <define name="dblMetadataCommonAtts">
    <interleave>
      <attribute name="version">
        <value>2.0</value>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <choice>
          <data type="integer"/>
          <value>null</value>
        </choice>
      </attribute>
    </interleave>
  </define>
  <define name="identificationElement">
    <element name="identification">
      <interleave>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="abbreviation">
            <ref name="abbreviationString"/>
          </element>
        </optional>
        <optional>
          <element name="abbreviationLocal">
            <ref name="localAbbreviationString"/>
          </element>
        </optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="descriptionLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
        <optional>
          <element name="dateCompleted">
            <choice>
              <data type="date"/>
              <data type="gYear"/>
              <data type="gYearMonth"/>
              <data type="dateTime"/>
            </choice>
          </element>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="gbcSystemId"/>
            <ref name="ptSystemId"/>
            <ref name="reapSystemId"/>
            <ref name="biblicaSystemId"/>
            <ref name="tmsSystemId"/>
            <ref name="ptregSystemId"/>
          </choice>
        </oneOrMore>
        <element name="bundleProducer">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="scopeEnum">
    <choice>
      <value>Bible</value>
      <value>Bible with Deuterocanon</value>
      <value>Deuterocanon</value>
      <value>New Testament</value>
      <value>New Testament+</value>
      <value>Old Testament</value>
      <value>Old Testament + Deuterocanon</value>
      <value>Old Testament+</value>
      <value>Portions</value>
      <value>Selections</value>
      <value>Shorter Bible</value>
    </choice>
  </define>
  <define name="gbcSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>gbc</value>
      </attribute>
      <ref name="gbcElements"/>
    </element>
  </define>
  <define name="gbcElements">
    <element name="id">
      <ref name="gbcId"/>
    </element>
  </define>
  <define name="ptregSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>ptreg</value>
      </attribute>
      <ref name="ptregId"/>
    </element>
  </define>
  <define name="tmsSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>tms</value>
      </attribute>
      <ref name="tmsElements"/>
    </element>
  </define>
  <define name="tmsElements">
    <element name="id">
      <ref name="tmsId"/>
    </element>
  </define>
  <define name="ptSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>paratext</value>
      </attribute>
      <ref name="ptElements"/>
    </element>
  </define>
  <define name="ptElements">
    <interleave>
      <element name="name">
        <ref name="lenGe2String"/>
      </element>
      <element name="fullName">
        <ref name="lenGe2String"/>
      </element>
      <element name="csetid">
        <ref name="lenGe2String"/>
      </element>
      <element name="id">
        <ref name="ptId"/>
      </element>
    </interleave>
  </define>
  <define name="reapSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>reap</value>
      </attribute>
      <ref name="reapElements"/>
    </element>
  </define>
  <define name="reapElements">
    <element name="id">
      <ref name="reapId"/>
    </element>
  </define>
  <define name="biblicaSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>biblica</value>
      </attribute>
      <ref name="biblicaElements"/>
    </element>
  </define>
  <define name="biblicaElements">
    <element name="id">
      <ref name="biblicaId"/>
    </element>
  </define>
  <define name="relationshipsElement">
    <element name="relationships">
      <zeroOrMore>
        <choice>
          <ref name="sourceRelationElement"/>
          <ref name="expressionRelationElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sourceRelationElement">
    <element name="relation">
      <attribute name="relationType">
        <value>source</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>text</value>
          <value>audio</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <data type="integer"/>
      </attribute>
    </element>
  </define>
  <define name="expressionRelationElement">
    <element name="relation">
      <attribute name="relationType">
        <value>expression</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>audio</value>
          <value>print</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <data type="integer"/>
      </attribute>
    </element>
  </define>
  <define name="agenciesElement">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="rightsHolderElement"/>
        </oneOrMore>
        <optional>
          <ref name="rightsAdminElement"/>
        </optional>
        <oneOrMore>
          <ref name="contributorElement"/>
        </oneOrMore>
        <optional>
          <ref name="etenPartnerElement"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="rightsHolderElement">
    <element name="rightsHolder">
      <interleave>
        <element name="abbr">
          <ref name="lenGe2String"/>
        </element>
        <element name="url">
          <data type="anyURI"/>
        </element>
        <element name="local">
          <ref name="lenGe2String"/>
        </element>
        <element name="uid">
          <ref name="lenGe2String"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="rightsAdminElement">
    <element name="rightsAdmin">
      <interleave>
        <optional>
          <element name="url">
            <data type="anyURI"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="lenGe2String"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="contributorElement">
    <element name="contributor">
      <interleave>
        <element name="content">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="publication">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="management">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="finance">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="qa">
            <data type="boolean"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="lenGe2String"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="etenPartnerElement">
    <element name="etenPartner">
      <interleave>
        <optional>
          <element name="uid">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="name">
            <ref name="lenGe2String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="fullLanguageElement">
    <element name="language">
      <interleave>
        <ref name="commonLanguageElements"/>
        <element name="script">
          <ref name="lenGe2String"/>
        </element>
        <element name="scriptDirection">
          <ref name="languageScriptDirectionEnum"/>
        </element>
        <optional>
          <element name="numerals">
            <ref name="numeralSystemEnum"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="shortLanguageElement">
    <element name="language">
      <interleave>
        <ref name="commonLanguageElements"/>
        <optional>
          <element name="script">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="scriptDirection">
            <ref name="languageScriptDirectionEnum"/>
          </element>
        </optional>
        <optional>
          <element name="numerals">
            <ref name="numeralSystemEnum"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="commonLanguageElements">
    <interleave>
      <element name="iso">
        <ref name="languageIsoString"/>
      </element>
      <element name="name">
        <ref name="lenGe2String"/>
      </element>
      <element name="nameLocal">
        <ref name="lenGe2String"/>
      </element>
      <optional>
        <element name="ldml">
          <ref name="ldmlString"/>
        </element>
      </optional>
      <optional>
        <element name="rod">
          <ref name="rodString"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="languageScriptDirectionEnum">
    <choice>
      <value>LTR</value>
      <!-- Left to Right -->
      <value>RTL</value>
    </choice>
    <!-- RTL (Right to Left) -->
  </define>
  <define name="numeralSystemEnum">
    <choice>
      <value>Arabic</value>
      <!-- (a.k.a. 'Hindu') = 0123456789 -->
      <value>Bengali</value>
      <value>Burmese</value>
      <value>Devanagari</value>
      <value>Ethiopic</value>
      <value>Farsi</value>
      <value>Gujarati</value>
      <value>Gurmukhi</value>
      <value>Hindi</value>
      <!-- (i.e. 'Arabic' as used in Egypt) -->
      <value>Kannada</value>
      <value>Khmer</value>
      <value>Malayalam</value>
      <value>Oriya</value>
      <value>Tamil</value>
      <value>Telugu</value>
      <value>Thai</value>
      <value>Tibetan</value>
    </choice>
  </define>
  <define name="countryElement">
    <element name="country">
      <interleave>
        <element name="iso">
          <ref name="countryIsoString"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="textTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonTextTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonAudioTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="textExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonTextExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="printExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>print</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="audioExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonAudioExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="textTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonTextTranslationTypeElements"/>
        <ref name="commonTextExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonAudioTranslationTypeElements"/>
        <ref name="commonAudioExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="commonTextTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonAudioTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonTextExpressionTypeElements">
    <ref name="commonExpressionTypeElements"/>
  </define>
  <define name="commonAudioExpressionTypeElements">
    <interleave>
      <element name="dramatization">
        <choice>
          <value>Dramatized</value>
          <value>Non-Dramatized</value>
          <value>Single-Voice</value>
        </choice>
      </element>
      <ref name="commonExpressionTypeElements"/>
    </interleave>
  </define>
  <define name="commonTranslationTypeElements">
    <interleave>
      <ref name="commonTypeElements"/>
      <element name="translationType">
        <ref name="translationTypeEnum"/>
      </element>
      <element name="audience">
        <ref name="translationLevelEnum"/>
      </element>
    </interleave>
  </define>
  <define name="commonExpressionTypeElements">
    <ref name="commonTypeElements"/>
  </define>
  <define name="commonTypeElements">
    <empty/>
  </define>
  <define name="translationTypeEnum">
    <choice>
      <value>First</value>
      <value>New</value>
      <value>Revision</value>
    </choice>
  </define>
  <define name="translationLevelEnum">
    <choice>
      <value>Basic</value>
      <value>Common</value>
      <value>Common - Literary</value>
      <value>Literary</value>
      <value>Liturgical</value>
    </choice>
  </define>
  <define name="textFormatElement">
    <element name="format">
      <element name="versedParagraphs">
        <data type="boolean"/>
      </element>
    </element>
  </define>
  <define name="audioFormatElement">
    <!-- DCMI: format -->
    <element name="format">
      <interleave>
        <optional>
          <element name="compression">
            <ref name="audioCompressionEnum"/>
          </element>
        </optional>
        <optional>
          <element name="trackConfiguration">
            <ref name="audioTrackEnum"/>
          </element>
        </optional>
        <optional>
          <element name="bitRate">
            <data type="integer"/>
          </element>
        </optional>
        <optional>
          <element name="bitDepth">
            <data type="integer"/>
          </element>
        </optional>
        <optional>
          <element name="samplingRate">
            <data type="integer"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="audioCompressionEnum">
    <choice>
      <value>MP3</value>
      <value>FLAC</value>
      <value>WAV</value>
    </choice>
  </define>
  <define name="audioTrackEnum">
    <choice>
      <value>1/0 (Mono)</value>
      <value>Dual mono</value>
      <value>2/0 (Stereo)</value>
      <value>5.1 Surround</value>
    </choice>
  </define>
  <define name="printFormatElement">
    <element name="format">
      <interleave>
        <element name="pod">
          <data type="boolean"/>
        </element>
        <element name="width">
          <ref name="measurementString"/>
        </element>
        <element name="height">
          <ref name="measurementString"/>
        </element>
        <element name="scale">
          <data type="string">
            <param name="pattern">[1-9][0-9]{1,3}%</param>
          </data>
        </element>
        <element name="orientation">
          <ref name="printOrientationEnum"/>
        </element>
        <element name="color">
          <ref name="printColorEnum"/>
        </element>
        <element name="fonts">
          <zeroOrMore>
            <ref name="printFormatFontElement"/>
          </zeroOrMore>
        </element>
      </interleave>
    </element>
  </define>
  <define name="printOrientationEnum">
    <choice>
      <value>portrait</value>
      <value>landscape</value>
    </choice>
  </define>
  <define name="printColorEnum">
    <choice>
      <value>CMYK</value>
      <value>RGB</value>
    </choice>
  </define>
  <define name="printFormatFontElement">
    <element name="font">
      <attribute name="type">
        <ref name="printFontEnum"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="printFontEnum">
    <choice>
      <value>OpenType</value>
      <value>Other</value>
      <value>Bitmap</value>
      <value>TrueType</value>
      <value>Type1</value>
    </choice>
  </define>
  <define name="namesElement">
    <element name="names">
      <zeroOrMore>
        <ref name="namesName"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="namesName">
    <element name="name">
      <interleave>
        <attribute name="id">
          <ref name="nameIdString"/>
        </attribute>
        <optional>
          <element name="long">
            <ref name="lenGe2Le255String"/>
          </element>
        </optional>
        <element name="short">
          <ref name="lenGe2Le255String"/>
        </element>
        <optional>
          <element name="abbr">
            <ref name="lenGe2Le255String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="nonTranslationManifestElement">
    <element name="manifest">
      <oneOrMore>
        <choice>
          <ref name="nonTranslationManifestContainer"/>
          <ref name="nonTranslationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="translationManifestElement">
    <element name="manifest">
      <oneOrMore>
        <choice>
          <ref name="translationManifestContainer"/>
          <ref name="translationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="nonTranslationManifestContainer">
    <element name="container">
      <attribute name="uri">
        <data type="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="nonTranslationManifestContainer"/>
          <ref name="nonTranslationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="nonTranslationManifestResource">
    <element name="resource">
      <ref name="commonManifestResourceAtts"/>
    </element>
  </define>
  <define name="translationManifestContainer">
    <element name="container">
      <attribute name="uri">
        <data type="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="translationManifestContainer"/>
          <ref name="translationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="translationManifestResource">
    <element name="resource">
      <interleave>
        <ref name="commonManifestResourceAtts"/>
        <optional>
          <attribute name="progress">
            <data type="integer"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="commonManifestResourceAtts">
    <attribute name="uri">
      <data type="anyURI"/>
    </attribute>
    <attribute name="size">
      <data type="integer"/>
    </attribute>
    <optional>
      <attribute name="checksum">
        <ref name="md5String"/>
      </attribute>
    </optional>
    <attribute name="mimeType">
      <ref name="mimeTypeString"/>
    </attribute>
  </define>
  <define name="translationStageEnum">
    <choice>
      <value>1</value>
      <!-- Draft -->
      <value>2</value>
      <!-- Internal Review -->
      <value>3</value>
      <!-- External Review -->
      <value>4</value>
    </choice>
    <!-- Final Review -->
  </define>
  <define name="translationSourceElement">
    <element name="source">
      <choice>
        <empty/>
        <interleave>
          <element name="canonicalContent">
            <oneOrMore>
              <ref name="canonicalContentBook"/>
            </oneOrMore>
          </element>
          <oneOrMore>
            <choice>
              <ref name="sourceStructureDivision"/>
              <ref name="sourceStructureContent"/>
            </choice>
          </oneOrMore>
        </interleave>
      </choice>
    </element>
  </define>
  <define name="sourceStructureDivision">
    <element name="division">
      <attribute name="name"/>
      <optional>
        <attribute name="role">
          <ref name="roleId"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="sourceStructureDivision"/>
          <ref name="sourceStructureContent"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="sourceStructureContent">
    <element name="content">
      <interleave>
        <attribute name="name"/>
        <attribute name="src"/>
        <optional>
          <attribute name="role">
            <ref name="roleId"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="publicationsElement">
    <!-- DCMI: tableOfContents -->
    <element name="publications">
      <zeroOrMore>
        <ref name="publicationElement"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="publicationElement">
    <element name="publication">
      <attribute name="id">
        <data type="integer"/>
      </attribute>
      <optional>
        <attribute name="default">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="publicationChildElements"/>
    </element>
  </define>
  <define name="publicationChildElements">
    <interleave>
      <optional>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="nameLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="abbreviation">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="abbreviationLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="descriptionLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <ref name="publicationCountryElement"/>
      </optional>
      <element name="canonicalContent">
        <oneOrMore>
          <ref name="canonicalContentBook"/>
        </oneOrMore>
      </element>
      <element name="structure">
        <oneOrMore>
          <choice>
            <ref name="publicationStructureDivision"/>
            <ref name="publicationStructureContent"/>
          </choice>
        </oneOrMore>
      </element>
    </interleave>
  </define>
  <define name="publicationCountryElement">
    <element name="country">
      <interleave>
        <element name="iso">
          <ref name="countryIsoString"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="canonicalContentBook">
    <element name="book">
      <attribute name="code">
        <ref name="canonicalBookIdEnum"/>
      </attribute>
    </element>
  </define>
  <define name="publicationStructureDivision">
    <element name="division">
      <attribute name="name"/>
      <optional>
        <attribute name="role">
          <ref name="roleId"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="publicationStructureDivision"/>
          <ref name="publicationStructureContent"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="publicationStructureContent">
    <element name="content">
      <interleave>
        <attribute name="name"/>
        <attribute name="src"/>
        <optional>
          <attribute name="role">
            <ref name="roleId"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="copyrightElement">
    <element name="copyright">
      <ref name="copyrightStatementElement"/>
    </element>
  </define>
  <define name="copyrightStatementElement">
    <element name="statement">
      <attribute name="contentType">
        <value>xhtml</value>
      </attribute>
      <oneOrMore>
        <ref name="simplifiedHtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="promotionElement">
    <element name="promotion">
      <element name="promoVersionInfo">
        <attribute name="contentType">
          <value>xhtml</value>
        </attribute>
        <oneOrMore>
          <ref name="simplifiedHtml"/>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="archiveStatusElement">
    <element name="archiveStatus">
      <interleave>
        <element name="archivistName">
          <ref name="lenGe2String"/>
        </element>
        <element name="dateArchived">
          <choice>
            <data type="dateTime"/>
            <value>null</value>
          </choice>
        </element>
        <element name="dateUpdated">
          <choice>
            <data type="dateTime"/>
            <value>null</value>
          </choice>
        </element>
        <element name="comments">
          <ref name="lenLe255String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="simplifiedHtml">
    <choice>
      <ref name="shP"/>
      <ref name="shH1"/>
      <ref name="shH2"/>
      <ref name="shH3"/>
      <ref name="shUl"/>
      <ref name="shOl"/>
      <ref name="shBlockquote"/>
      <ref name="shHtmlCharMarkup"/>
    </choice>
  </define>
  <define name="shP">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="shHtmlCharMarkup"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="shH1">
    <element name="h1">
      <text/>
    </element>
  </define>
  <define name="shH2">
    <element name="h2">
      <text/>
    </element>
  </define>
  <define name="shH3">
    <element name="h3">
      <text/>
    </element>
  </define>
  <define name="shOl">
    <element name="ol">
      <oneOrMore>
        <ref name="shLi"/>
      </oneOrMore>
    </element>
  </define>
  <define name="shUl">
    <element name="ul">
      <oneOrMore>
        <ref name="shLi"/>
      </oneOrMore>
    </element>
  </define>
  <define name="shLi">
    <element name="li">
      <text/>
    </element>
  </define>
  <define name="shBlockquote">
    <element name="blockquote">
      <text/>
    </element>
  </define>
  <define name="shHtmlCharMarkup">
    <choice>
      <text/>
      <ref name="shA"/>
      <ref name="shImg"/>
      <ref name="shBr"/>
      <ref name="shStrong"/>
      <ref name="shB"/>
      <ref name="shEm"/>
      <ref name="shI"/>
    </choice>
  </define>
  <define name="shA">
    <element name="a">
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
      <ref name="shHtmlCharMarkup"/>
    </element>
  </define>
  <define name="shImg">
    <element name="img">
      <attribute name="src">
        <data type="anyURI"/>
      </attribute>
      <attribute name="alt"/>
    </element>
  </define>
  <define name="shBr">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="shStrong">
    <element name="strong">
      <text/>
    </element>
  </define>
  <define name="shB">
    <element name="b">
      <text/>
    </element>
  </define>
  <define name="shEm">
    <element name="em">
      <text/>
    </element>
  </define>
  <define name="shI">
    <element name="i">
      <text/>
    </element>
  </define>
  <define name="lenGe2String">
    <data type="string">
      <param name="minLength">2</param>
    </data>
  </define>
  <define name="lenGe2Le255String">
    <data type="string">
      <param name="minLength">2</param>
      <param name="maxLength">255</param>
    </data>
  </define>
  <define name="lenLe255String">
    <data type="string">
      <param name="maxLength">255</param>
    </data>
  </define>
  <define name="bundleIdString">
    <data type="string">
      <param name="pattern">[a-f0-9]{16}</param>
    </data>
  </define>
  <define name="abbreviationString">
    <data type="string">
      <param name="pattern">[\-A-Za-z0-9]{2,12}</param>
    </data>
  </define>
  <define name="localAbbreviationString">
    <data type="string">
      <param name="minLength">2</param>
      <param name="maxLength">12</param>
    </data>
  </define>
  <define name="languageIsoString">
    <data type="string">
      <param name="pattern">[a-z][a-z][a-z]</param>
    </data>
  </define>
  <define name="ldmlString">
    <data type="string">
      <param name="pattern">[A-Za-z]{2,3}([\-_][A-Za-z0-9]+){0,3}</param>
    </data>
  </define>
  <define name="rodString">
    <data type="string">
      <param name="pattern">[0-9]{5}</param>
    </data>
  </define>
  <define name="countryIsoString">
    <data type="string">
      <param name="pattern">[A-Z][A-Z][A-Z]</param>
    </data>
  </define>
  <define name="measurementString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{1,4}mm</param>
    </data>
  </define>
  <define name="nameIdString">
    <data type="string">
      <param name="pattern">[A-Za-z][\-A-Za-z0-9_]+</param>
    </data>
  </define>
  <define name="md5String">
    <data type="string">
      <param name="pattern">[a-f0-9]{32}</param>
    </data>
  </define>
  <define name="mimeTypeString">
    <data type="string">
      <param name="pattern">[\-a-z0-9]+/[\-a-z0-9+]+</param>
    </data>
  </define>
  <define name="percentageString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{1,3}%</param>
    </data>
  </define>
  <define name="biblicaId">
    <data type="string">
      <param name="pattern">[1-9][0-9]{0,4}</param>
    </data>
  </define>
  <define name="gbcId">
    <data type="string">
      <param name="pattern">[0-9a-f]{24}</param>
    </data>
  </define>
  <define name="tmsId">
    <data type="string">
      <param name="pattern">[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}</param>
    </data>
  </define>
  <define name="ptId">
    <data type="string">
      <param name="pattern">[0-9a-f]{40}</param>
    </data>
  </define>
  <define name="reapId">
    <data type="anyURI"/>
  </define>
  <define name="roleId">
    <choice>
      <ref name="ptReference"/>
      <ref name="knownRole"/>
      <ref name="extensionRole"/>
    </choice>
  </define>
  <define name="bookIdEnum">
    <choice>
      <ref name="canonicalBookIdEnum"/>
      <ref name="nonCanonicalBookIdEnum"/>
    </choice>
  </define>
  <define name="canonicalBookIdEnum">
    <choice>
      <ref name="OTBookIdEnum"/>
      <ref name="NTBookIdEnum"/>
      <ref name="DCBookIdEnum"/>
    </choice>
  </define>
  <define name="OTBookIdEnum">
    <choice>
      <value>GEN</value>
      <!-- Genesis -->
      <value>EXO</value>
      <!-- Exodus -->
      <value>LEV</value>
      <!-- Leviticus -->
      <value>NUM</value>
      <!-- Numbers -->
      <value>DEU</value>
      <!-- Deuteronomy -->
      <value>JOS</value>
      <!-- Joshua -->
      <value>JDG</value>
      <!-- Judges -->
      <value>RUT</value>
      <!-- Ruth -->
      <value>1SA</value>
      <!-- 1 Samuel -->
      <value>2SA</value>
      <!-- 2 Samuel -->
      <value>1KI</value>
      <!-- 1 Kings -->
      <value>2KI</value>
      <!-- 2 Kings -->
      <value>1CH</value>
      <!-- 1 Chronicles -->
      <value>2CH</value>
      <!-- 2 Chronicles -->
      <value>EZR</value>
      <!-- Ezra -->
      <value>NEH</value>
      <!-- Nehemiah -->
      <value>EST</value>
      <!-- Esther (Hebrew) -->
      <value>JOB</value>
      <!-- Job -->
      <value>PSA</value>
      <!-- Psalms -->
      <value>PRO</value>
      <!-- Proverbs -->
      <value>ECC</value>
      <!-- Ecclesiastes -->
      <value>SNG</value>
      <!-- Song of Songs -->
      <value>ISA</value>
      <!-- Isaiah -->
      <value>JER</value>
      <!-- Jeremiah -->
      <value>LAM</value>
      <!-- Lamentations -->
      <value>EZK</value>
      <!-- Ezekiel -->
      <value>DAN</value>
      <!-- Daniel (Hebrew) -->
      <value>HOS</value>
      <!-- Hosea -->
      <value>JOL</value>
      <!-- Joel -->
      <value>AMO</value>
      <!-- Amos -->
      <value>OBA</value>
      <!-- Obadiah -->
      <value>JON</value>
      <!-- Jonah -->
      <value>MIC</value>
      <!-- Micah -->
      <value>NAM</value>
      <!-- Nahum -->
      <value>HAB</value>
      <!-- Habakkuk -->
      <value>ZEP</value>
      <!-- Zephaniah -->
      <value>HAG</value>
      <!-- Haggai -->
      <value>ZEC</value>
      <!-- Zechariah -->
      <value>MAL</value>
    </choice>
    <!-- Malachi -->
  </define>
  <define name="NTBookIdEnum">
    <choice>
      <value>MAT</value>
      <!-- Matthew -->
      <value>MRK</value>
      <!-- Mark -->
      <value>LUK</value>
      <!-- Luke -->
      <value>JHN</value>
      <!-- John -->
      <value>ACT</value>
      <!-- Acts -->
      <value>ROM</value>
      <!-- Romans -->
      <value>1CO</value>
      <!-- 1 Corinthians -->
      <value>2CO</value>
      <!-- 2 Corinthians -->
      <value>GAL</value>
      <!-- Galatians -->
      <value>EPH</value>
      <!-- Ephesians -->
      <value>PHP</value>
      <!-- Philippians -->
      <value>COL</value>
      <!-- Colossians -->
      <value>1TH</value>
      <!-- 1 Thessalonians -->
      <value>2TH</value>
      <!-- 2 Thessalonians -->
      <value>1TI</value>
      <!-- 1 Timothy -->
      <value>2TI</value>
      <!-- 2 Timothy -->
      <value>TIT</value>
      <!-- Titus -->
      <value>PHM</value>
      <!-- Philemon -->
      <value>HEB</value>
      <!-- Hebrews -->
      <value>JAS</value>
      <!-- James -->
      <value>1PE</value>
      <!-- 1 Peter -->
      <value>2PE</value>
      <!-- 2 Peter -->
      <value>1JN</value>
      <!-- 1 John -->
      <value>2JN</value>
      <!-- 2 John -->
      <value>3JN</value>
      <!-- 3 John -->
      <value>JUD</value>
      <!-- Jude -->
      <value>REV</value>
    </choice>
    <!-- Revelation -->
  </define>
  <define name="DCBookIdEnum">
    <choice>
      <value>TOB</value>
      <!-- Tobit -->
      <value>JDT</value>
      <!-- Judith -->
      <value>ESG</value>
      <!-- Esther Greek -->
      <value>WIS</value>
      <!-- Wisdom of Solomon -->
      <value>SIR</value>
      <!-- Sirach (Ecclesiasticus) -->
      <value>BAR</value>
      <!-- Baruch -->
      <value>LJE</value>
      <!-- Letter of Jeremiah -->
      <value>S3Y</value>
      <!-- Song of 3 Young Men -->
      <value>SUS</value>
      <!-- Susanna -->
      <value>BEL</value>
      <!-- Bel and the Dragon -->
      <value>1MA</value>
      <!-- 1 Maccabees -->
      <value>2MA</value>
      <!-- 2 Maccabees -->
      <value>3MA</value>
      <!-- 3 Maccabees -->
      <value>4MA</value>
      <!-- 4 Maccabees -->
      <value>1ES</value>
      <!-- 1 Esdras (Greek) -->
      <value>2ES</value>
      <!-- 2 Esdras (Latin) -->
      <value>MAN</value>
      <!-- Prayer of Manasseh -->
      <value>PS2</value>
      <!-- Psalm 151 -->
      <value>ODA</value>
      <!-- Odes -->
      <value>PSS</value>
      <!-- Psalms of Solomon -->
      <value>JSA</value>
      <!-- actual variant text for JOS, now in LXA text -->
      <value>JDB</value>
      <!-- actual variant text for JDG, now in LXA text -->
      <value>TBS</value>
      <!-- actual variant text for TOB, now in LXA text -->
      <value>SST</value>
      <!-- actual variant text for SUS, now in LXA text -->
      <value>DNT</value>
      <!-- actual variant text for DAN, now in LXA text -->
      <value>BLT</value>
      <!-- actual variant text for BEL, now in LXA text -->
      <value>EZA</value>
      <!-- Apocalypse of Ezra -->
      <value>5EZ</value>
      <!-- 5 Ezra -->
      <value>6EZ</value>
      <!-- 6 Ezra -->
      <value>DAG</value>
      <!-- Daniel Greek -->
      <value>PS3</value>
      <!-- Psalms 152-155 -->
      <value>2BA</value>
      <!-- 2 Baruch (Apocalypse) -->
      <value>LBA</value>
      <!-- Letter of Baruch -->
      <value>JUB</value>
      <!-- Jubilees -->
      <value>ENO</value>
      <!-- Enoch -->
      <value>1MQ</value>
      <!-- 1 Meqabyan -->
      <value>2MQ</value>
      <!-- 2 Meqabyan -->
      <value>3MQ</value>
      <!-- 3 Meqabyan -->
      <value>REP</value>
      <!-- Reproof -->
      <value>4BA</value>
      <!-- 4 Baruch -->
      <value>LAO</value>
    </choice>
    <!-- Laodiceans -->
  </define>
  <define name="nonCanonicalBookIdEnum">
    <choice>
      <value>XXA</value>
      <!-- Extra A, e.g. a hymnal -->
      <value>XXB</value>
      <!-- Extra B -->
      <value>XXC</value>
      <!-- Extra C -->
      <value>XXD</value>
      <!-- Extra D -->
      <value>XXE</value>
      <!-- Extra E -->
      <value>XXF</value>
      <!-- Extra F -->
      <value>XXG</value>
      <!-- Extra G -->
      <value>FRT</value>
      <!-- Front Matter -->
      <value>BAK</value>
      <!-- Back Matter -->
      <value>OTH</value>
      <!-- Other Matter -->
      <value>INT</value>
      <!-- Introduction -->
      <value>CNC</value>
      <!-- Concordance -->
      <value>GLO</value>
      <!-- Glossary -->
      <value>TDX</value>
      <!-- Topical Index -->
      <value>NDX</value>
    </choice>
    <!-- Names Index -->
  </define>
  <define name="ptReference">
    <data type="string">
      <param name="pattern">[A-Z1-6]{3}|[A-Z1-6]{3} [1-9][0-9]*(-[1-9][0-9]*)?|[A-Z1-6]{3} [1-9][0-9]*:[1-9][0-9]*(-[1-9][0-9]*)?|[A-Z1-6]{3} [1-9][0-9]*:[1-9][0-9]*-[1-9][0-9]*:[1-9][0-9]*</param>
    </data>
  </define>
  <define name="knownRole">
    <choice>
      <value>sourceZip</value>
      <value>sourceFile</value>
      <value>lds</value>
      <value>ldml</value>
      <value>styles</value>
      <value>vrs</value>
    </choice>
  </define>
  <define name="extensionRole">
    <data type="string">
      <param name="pattern">X-[A-Za-z0-9][A-Za-z0-9\-]*</param>
    </data>
  </define>
</grammar>
