v2/2_2/schemas/agencies.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    agencies.rnc v2.2
    Generated by mark@mark-VirtualBox using makeRNC.py
    Generated Thu Oct 18 16:15:54 2018
  -->
  <!-- Standalone agencies -->
  <start>
    <ref name="agenciesElement"/>
  </start>
  <!-- agencies -->
  <define name="agenciesElement">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="rightsHolderElement"/>
        </oneOrMore>
        <optional>
          <ref name="rightsAdminElement"/>
        </optional>
        <oneOrMore>
          <ref name="contributorElement"/>
        </oneOrMore>
      </interleave>
    </element>
  </define>
  <define name="paratextZipResourceAgenciesElement">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="rightsHolderElement"/>
        </oneOrMore>
        <optional>
          <ref name="rightsAdminElement"/>
        </optional>
        <optional>
          <ref name="contributorElement"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="rightsHolderElement">
    <element name="rightsHolder">
      <interleave>
        <element name="abbr">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="url">
            <ref name="anyURI"/>
          </element>
        </optional>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="rightsAdminElement">
    <element name="rightsAdmin">
      <interleave>
        <optional>
          <element name="url">
            <ref name="anyURI"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="contributorElement">
    <element name="contributor">
      <interleave>
        <element name="content">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="publication">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="management">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="finance">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="qa">
            <data type="boolean"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- agencies text -->
  <define name="agenciesUID">
    <data type="string">
      <param name="pattern">[a-f0-9]{24}</param>
    </data>
  </define>
  <!-- generic text -->
  <define name="nonEmptyString">
    <text/>
  </define>
  <define name="lenGe1String">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">\S(.*\S)?</param>
    </data>
  </define>
  <define name="lenGe2String">
    <data type="string">
      <param name="minLength">2</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="lenGe2Le255String">
    <data type="string">
      <param name="minLength">2</param>
      <param name="maxLength">255</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="lenGe1Le255String">
    <data type="string">
      <param name="minLength">1</param>
      <param name="maxLength">255</param>
      <param name="pattern">\S(.*\S)?</param>
    </data>
  </define>
  <define name="lenGe1Le1024String">
    <data type="string">
      <param name="minLength">1</param>
      <param name="maxLength">1024</param>
      <param name="pattern">\S(.*\S)?</param>
    </data>
  </define>
  <define name="lenLe255String">
    <data type="string">
      <param name="maxLength">255</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="anyURI">
    <data type="anyURI"/>
  </define>
</grammar>
