v2/2_2/schemas/metadata.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  metadata.rnc v2.2
  Generated by mark@mark-VirtualBox using makeRNC.py
  Generated Thu Oct 18 11:52:44 2018
-->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="dblMetadataElement"/>
  </start>
  <!-- DBLMetadata -->
  <!-- Document types -->
  <define name="dblMetadataElement">
    <choice>
      <ref name="translationMetadata"/>
      <ref name="expressionMetadata"/>
      <ref name="translationAndExpressionMetadata"/>
      <ref name="paratextZipResourceMetadata"/>
    </choice>
  </define>
  <define name="translationMetadata">
    <choice>
      <ref name="textTranslationMetadata"/>
      <ref name="audioTranslationMetadata"/>
      <ref name="videoTranslationMetadata"/>
    </choice>
  </define>
  <define name="expressionMetadata">
    <choice>
      <ref name="textExpressionMetadata"/>
      <ref name="audioExpressionMetadata"/>
      <ref name="printExpressionMetadata"/>
      <ref name="videoExpressionMetadata"/>
      <ref name="brailleExpressionMetadata"/>
    </choice>
  </define>
  <define name="translationAndExpressionMetadata">
    <choice>
      <ref name="textTranslationAndExpressionMetadata"/>
      <ref name="audioTranslationAndExpressionMetadata"/>
      <ref name="videoTranslationAndExpressionMetadata"/>
    </choice>
  </define>
  <define name="textTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="textIdentificationElement"/>
        <ref name="translationCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="textTranslationTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="audioTranslationTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="videoTranslationTypeElement"/>
        <ref name="videoFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="textExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="textIdentificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="textExpressionTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="printExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="printExpressionTypeElement"/>
        <ref name="printFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="audioExpressionTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="videoExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="identificationElement"/>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="videoExpressionTypeElement"/>
        <ref name="videoFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="brailleExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="brailleExpressionTypeElement"/>
        <ref name="brailleFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="textTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="textIdentificationElement"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="textTranslationAndExpressionTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="audioTranslationAndExpressionTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="videoTranslationAndExpressionTypeElement"/>
        <ref name="videoFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="paratextZipResourceMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="paratextZipResourceIdentificationElement"/>
        <ref name="paratextZipResourceTypeElement"/>
        <ref name="relationshipsElement"/>
        <ref name="paratextZipResourceAgenciesElement"/>
        <ref name="shortLanguageElement"/>
        <ref name="translationManifestElement"/>
        <ref name="paratextZipResourceSourceElement"/>
        <ref name="paratextZipResourcePublicationsElement"/>
        <ref name="copyrightElement"/>
        <ref name="archiveStatusElement"/>
      </interleave>
    </element>
  </define>
  <define name="translationCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="translationManifestElement"/>
      <ref name="translationSourceElement"/>
    </interleave>
  </define>
  <define name="expressionCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="promotionElement"/>
      <ref name="nonTranslationManifestElement"/>
      <ref name="publicationsElement"/>
      <optional>
        <ref name="translationSourceElement"/>
      </optional>
    </interleave>
  </define>
  <define name="translationAndExpressionCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="promotionElement"/>
      <ref name="translationManifestElement"/>
      <ref name="publicationsElement"/>
      <ref name="translationSourceElement"/>
    </interleave>
  </define>
  <define name="commonElements">
    <interleave>
      <ref name="relationshipsElement"/>
      <ref name="agenciesElement"/>
      <ref name="countriesElement"/>
      <ref name="namesElement"/>
      <ref name="copyrightElement"/>
      <optional>
        <ref name="progressElement"/>
      </optional>
      <ref name="archiveStatusElement"/>
    </interleave>
  </define>
  <define name="any_content">
    <interleave>
      <zeroOrMore>
        <ref name="any_element"/>
      </zeroOrMore>
      <text/>
    </interleave>
  </define>
  <define name="any_element">
    <element>
      <anyName/>
      <zeroOrMore>
        <ref name="any_attribute"/>
      </zeroOrMore>
      <ref name="any_content"/>
    </element>
  </define>
  <define name="any_attribute">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <define name="dblMetadataCommonAtts">
    <interleave>
      <attribute name="version">
        <choice>
          <value>2.1</value>
          <value>2.1.1</value>
          <value>2.2</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <ref name="revisionValue"/>
      </attribute>
    </interleave>
  </define>
  <!-- metadata text -->
  <define name="revisionValue">
    <data type="integer"/>
  </define>
  <define name="bundleIdString">
    <data type="string">
      <param name="pattern">[a-f0-9]{16}</param>
    </data>
  </define>
  <!-- generic text -->
  <define name="nonEmptyString">
    <text/>
  </define>
  <define name="lenGe1String">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">\S(.*\S)?</param>
    </data>
  </define>
  <define name="lenGe2String">
    <data type="string">
      <param name="minLength">2</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="lenGe2Le255String">
    <data type="string">
      <param name="minLength">2</param>
      <param name="maxLength">255</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="lenGe1Le255String">
    <data type="string">
      <param name="minLength">1</param>
      <param name="maxLength">255</param>
      <param name="pattern">\S(.*\S)?</param>
    </data>
  </define>
  <define name="lenGe1Le1024String">
    <data type="string">
      <param name="minLength">1</param>
      <param name="maxLength">1024</param>
      <param name="pattern">\S(.*\S)?</param>
    </data>
  </define>
  <define name="lenLe255String">
    <data type="string">
      <param name="maxLength">255</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="anyURI">
    <data type="anyURI"/>
  </define>
  <!-- identification -->
  <define name="identificationElement">
    <element name="identification">
      <interleave>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="abbreviation">
            <ref name="abbreviationString"/>
          </element>
        </optional>
        <optional>
          <element name="abbreviationLocal">
            <ref name="localAbbreviationString"/>
          </element>
        </optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="descriptionLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
        <optional>
          <ref name="canonSpecElement"/>
        </optional>
        <optional>
          <element name="dateCompleted">
            <ref name="dateCompletedValue"/>
          </element>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="gbcSystemId"/>
            <ref name="reapSystemId"/>
            <ref name="biblicaSystemId"/>
            <ref name="tmsSystemId"/>
            <ref name="ptregSystemId"/>
            <ref name="dbpSystemId"/>
          </choice>
        </zeroOrMore>
        <element name="bundleProducer">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="paratextZipResourceIdentificationElement">
    <element name="identification">
      <interleave>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="abbreviation">
          <ref name="abbreviationString"/>
        </element>
        <optional>
          <element name="abbreviationLocal">
            <ref name="localAbbreviationString"/>
          </element>
        </optional>
        <optional>
          <element name="dateCompleted">
            <ref name="dateCompletedValue"/>
          </element>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="ptSystemId"/>
            <ref name="gbcSystemId"/>
            <ref name="reapSystemId"/>
            <ref name="biblicaSystemId"/>
            <ref name="tmsSystemId"/>
            <ref name="ptregSystemId"/>
            <ref name="dbpSystemId"/>
          </choice>
        </zeroOrMore>
        <element name="bundleProducer">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="textIdentificationElement">
    <element name="identification">
      <interleave>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="abbreviation">
          <ref name="abbreviationString"/>
        </element>
        <optional>
          <element name="abbreviationLocal">
            <ref name="localAbbreviationString"/>
          </element>
        </optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="descriptionLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
        <optional>
          <ref name="canonSpecElement"/>
        </optional>
        <optional>
          <element name="dateCompleted">
            <ref name="dateCompletedValue"/>
          </element>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="ptSystemId"/>
            <ref name="gbcSystemId"/>
            <ref name="reapSystemId"/>
            <ref name="biblicaSystemId"/>
            <ref name="tmsSystemId"/>
            <ref name="ptregSystemId"/>
            <ref name="dbpSystemId"/>
          </choice>
        </zeroOrMore>
        <element name="bundleProducer">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="gbcSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>gbc</value>
      </attribute>
      <ref name="gbcElements"/>
    </element>
  </define>
  <define name="gbcElements">
    <element name="id">
      <ref name="gbcId"/>
    </element>
  </define>
  <define name="ptregSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>ptreg</value>
      </attribute>
      <ref name="ptregElements"/>
    </element>
  </define>
  <define name="tmsSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>tms</value>
      </attribute>
      <ref name="tmsElements"/>
    </element>
  </define>
  <define name="tmsElements">
    <element name="id">
      <ref name="tmsId"/>
    </element>
  </define>
  <define name="ptSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>paratext</value>
      </attribute>
      <ref name="ptElements"/>
    </element>
  </define>
  <define name="ptElements">
    <interleave>
      <element name="name">
        <ref name="lenGe2String"/>
      </element>
      <element name="fullName">
        <ref name="lenGe2String"/>
      </element>
      <optional>
        <element name="csetId">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <element name="id">
        <ref name="ptId"/>
      </element>
      <optional>
        <interleave>
          <element name="baseId">
            <ref name="ptId"/>
          </element>
          <element name="baseName">
            <ref name="lenGe2String"/>
          </element>
        </interleave>
      </optional>
    </interleave>
  </define>
  <define name="ptregElements">
    <element name="id">
      <ref name="ptregId"/>
    </element>
  </define>
  <define name="reapSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>reap</value>
      </attribute>
      <ref name="reapElements"/>
    </element>
  </define>
  <define name="reapElements">
    <element name="id">
      <ref name="reapId"/>
    </element>
  </define>
  <define name="biblicaSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>biblica</value>
      </attribute>
      <ref name="biblicaElements"/>
    </element>
  </define>
  <define name="biblicaElements">
    <element name="id">
      <ref name="biblicaId"/>
    </element>
  </define>
  <define name="dbpSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>dbp</value>
      </attribute>
      <ref name="dbpElements"/>
    </element>
  </define>
  <define name="dbpElements">
    <element name="id">
      <ref name="dbpId"/>
    </element>
  </define>
  <!-- canon -->
  <define name="canonSpecElement">
    <element name="canonSpec">
      <attribute name="type">
        <ref name="canonTypes"/>
      </attribute>
      <oneOrMore>
        <ref name="canonComponent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="canonComponent">
    <element name="component">
      <ref name="canonComponentEnum"/>
    </element>
  </define>
  <!-- canon text -->
  <define name="canonTypes">
    <choice>
      <value>DC</value>
      <value>NT</value>
      <value>OT, DC, NT</value>
      <value>OT, NT, DC</value>
      <value>OT, NT</value>
      <value>OT+, NT</value>
      <value>OT</value>
      <value>OT+</value>
    </choice>
  </define>
  <define name="canonComponentEnum">
    <choice>
      <value>armenianApostolicDC</value>
      <value>armenianApostolicOT</value>
      <value>armenianApostolicOT2</value>
      <value>armenianClassicalOT</value>
      <value>armenianNT</value>
      <value>catholicAndAnglicanDC</value>
      <value>catholicLxxDC</value>
      <value>catholicLxxOT</value>
      <value>catholicLxxSeparatedDC</value>
      <value>catholicPlusLutheranDC</value>
      <value>catholicVulgateDC</value>
      <value>catholicVulgateOT</value>
      <value>catholicVulgateSeparatedDC</value>
      <value>czechKralickaDC</value>
      <value>danishLutheranDC</value>
      <value>ethiopianOrthodoxDC</value>
      <value>ethiopianOrthodoxNT</value>
      <value>ethiopianOrthodoxOT</value>
      <value>ethiopianProtestantNT</value>
      <value>ethiopianProtestantOT</value>
      <value>georgianOrthodoxDC</value>
      <value>georgianOrthodoxOT</value>
      <value>georgianOrthodoxOT2</value>
      <value>georgianSynodalDC</value>
      <value>germanLutheranDC</value>
      <value>greekOrthodoxDC</value>
      <value>greekOrthodoxOT</value>
      <value>kjvDC</value>
      <value>kjvNonDC</value>
      <value>lutheranNT</value>
      <value>romanianOrthodoxDC</value>
      <value>romanianOrthodoxOT</value>
      <value>russianNT</value>
      <value>russianOrthodoxDC</value>
      <value>russianOrthodoxOT</value>
      <value>russianProtestantOT</value>
      <value>russianSynodalDC</value>
      <value>syriacNT</value>
      <value>syriacOT</value>
      <value>tanakhOT</value>
      <value>turkishInterconfessionalDC</value>
      <value>vulgateCatholicBible</value>
      <value>westernInterconfessionalDC</value>
      <value>westernInterconfessionalDC2</value>
      <value>westernNT</value>
      <value>westernOT</value>
      <data type="string">
        <param name="pattern">X-[A-Za-z0-9][A-Za-z0-9\-]*</param>
      </data>
    </choice>
  </define>
  <!-- identification text -->
  <define name="abbreviationString">
    <data type="string">
      <param name="pattern">[\-A-Za-z0-9]{2,12}</param>
    </data>
  </define>
  <define name="localAbbreviationString">
    <data type="string">
      <param name="minLength">2</param>
      <param name="maxLength">12</param>
      <param name="pattern">\S.*\S</param>
    </data>
  </define>
  <define name="biblicaId">
    <data type="string">
      <param name="pattern">[0-9]{0,5}</param>
    </data>
  </define>
  <define name="gbcId">
    <data type="string">
      <param name="pattern">[0-9a-f]{24}</param>
    </data>
  </define>
  <define name="tmsId">
    <data type="string">
      <param name="pattern">[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}</param>
    </data>
  </define>
  <define name="ptId">
    <data type="string">
      <param name="pattern">[0-9a-f]{40}</param>
    </data>
  </define>
  <define name="ptregId">
    <data type="string">
      <param name="pattern">[0-9a-zA-Z]{17}</param>
    </data>
  </define>
  <define name="reapId">
    <ref name="anyURI"/>
  </define>
  <define name="dbpId">
    <data type="string">
      <param name="pattern">[A-Z0-9]{10}</param>
    </data>
  </define>
  <define name="dateCompletedValue">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gYearMonth"/>
      <data type="dateTime"/>
    </choice>
  </define>
  <define name="scopeEnum">
    <choice>
      <value>Bible</value>
      <value>Bible with Deuterocanon</value>
      <value>Deuterocanon</value>
      <value>New Testament</value>
      <value>New Testament+</value>
      <value>Old Testament</value>
      <value>Old Testament + Deuterocanon</value>
      <value>Old Testament+</value>
      <value>Portions</value>
      <value>Selections</value>
      <value>Shorter Bible</value>
    </choice>
  </define>
  <!-- relationships -->
  <define name="relationshipsElement">
    <element name="relationships">
      <zeroOrMore>
        <choice>
          <ref name="sourceRelationElement"/>
          <ref name="expressionRelationElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sourceRelationElement">
    <element name="relation">
      <attribute name="relationType">
        <value>source</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>text</value>
          <value>audio</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <data type="integer"/>
      </attribute>
      <optional>
        <attribute name="publicationId">
          <ref name="publicationId"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="expressionRelationElement">
    <element name="relation">
      <attribute name="relationType">
        <value>expression</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>audio</value>
          <value>print</value>
          <value>video</value>
          <value>braille</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <data type="integer"/>
      </attribute>
      <optional>
        <attribute name="publicationId">
          <ref name="publicationId"/>
        </attribute>
      </optional>
    </element>
  </define>
  <!-- agencies -->
  <define name="agenciesElement">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="rightsHolderElement"/>
        </oneOrMore>
        <optional>
          <ref name="rightsAdminElement"/>
        </optional>
        <oneOrMore>
          <ref name="contributorElement"/>
        </oneOrMore>
      </interleave>
    </element>
  </define>
  <define name="paratextZipResourceAgenciesElement">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="rightsHolderElement"/>
        </oneOrMore>
        <optional>
          <ref name="rightsAdminElement"/>
        </optional>
        <optional>
          <ref name="contributorElement"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="rightsHolderElement">
    <element name="rightsHolder">
      <interleave>
        <element name="abbr">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="url">
            <ref name="anyURI"/>
          </element>
        </optional>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="rightsAdminElement">
    <element name="rightsAdmin">
      <interleave>
        <optional>
          <element name="url">
            <ref name="anyURI"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="contributorElement">
    <element name="contributor">
      <interleave>
        <element name="content">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="publication">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="management">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="finance">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="qa">
            <data type="boolean"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- agencies text -->
  <define name="agenciesUID">
    <data type="string">
      <param name="pattern">[a-f0-9]{24}</param>
    </data>
  </define>
  <!-- language -->
  <define name="fullLanguageElement">
    <element name="language">
      <interleave>
        <ref name="commonLanguageElements"/>
        <element name="scriptCode">
          <ref name="iso15924String"/>
        </element>
        <element name="script">
          <ref name="lenGe2String"/>
        </element>
        <element name="scriptDirection">
          <ref name="languageScriptDirectionEnum"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="shortLanguageElement">
    <element name="language">
      <interleave>
        <ref name="commonLanguageElements"/>
        <optional>
          <element name="scriptCode">
            <ref name="iso15924String"/>
          </element>
        </optional>
        <optional>
          <element name="script">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="scriptDirection">
            <ref name="languageScriptDirectionEnum"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="commonLanguageElements">
    <interleave>
      <element name="iso">
        <ref name="languageIsoString"/>
      </element>
      <element name="name">
        <ref name="lenGe2String"/>
      </element>
      <optional>
        <element name="nameLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="ldml">
          <ref name="ldmlString"/>
        </element>
      </optional>
      <optional>
        <element name="rod">
          <ref name="rodString"/>
        </element>
      </optional>
      <optional>
        <element name="numerals">
          <ref name="numeralSystemEnum"/>
        </element>
      </optional>
    </interleave>
  </define>
  <!-- language text -->
  <define name="languageIsoString">
    <data type="string">
      <param name="pattern">[a-z][a-z][a-z]</param>
    </data>
  </define>
  <define name="ldmlString">
    <data type="string">
      <param name="pattern">[A-Za-z]{2,3}([\-_][A-Za-z0-9]+){0,4}</param>
    </data>
  </define>
  <define name="iso15924String">
    <choice>
      <!-- ISO 15924 -->
      <value>Adlm</value>
      <value>Afak</value>
      <value>Aghb</value>
      <value>Ahom</value>
      <value>Arab</value>
      <value>Aran</value>
      <value>Armi</value>
      <value>Armn</value>
      <value>Avst</value>
      <value>Bali</value>
      <value>Bamu</value>
      <value>Bass</value>
      <value>Batk</value>
      <value>Beng</value>
      <value>Blis</value>
      <value>Bopo</value>
      <value>Brah</value>
      <value>Brai</value>
      <value>Bugi</value>
      <value>Buhd</value>
      <value>Cakm</value>
      <value>Cans</value>
      <value>Cari</value>
      <value>Cham</value>
      <value>Cher</value>
      <value>Cirt</value>
      <value>Copt</value>
      <value>Cprt</value>
      <value>Cyrl</value>
      <value>Cyrs</value>
      <value>Deva</value>
      <value>Dsrt</value>
      <value>Dupl</value>
      <value>Egyd</value>
      <value>Egyh</value>
      <value>Egyp</value>
      <value>Elba</value>
      <value>Ethi</value>
      <value>Geok</value>
      <value>Geor</value>
      <value>Glag</value>
      <value>Goth</value>
      <value>Gran</value>
      <value>Grek</value>
      <value>Gujr</value>
      <value>Guru</value>
      <value>Hang</value>
      <value>Hani</value>
      <value>Hano</value>
      <value>Hans</value>
      <value>Hant</value>
      <value>Hatr</value>
      <value>Hebr</value>
      <value>Hira</value>
      <value>Hluw</value>
      <value>Hmng</value>
      <value>Hrkt</value>
      <value>Hung</value>
      <value>Inds</value>
      <value>Ital</value>
      <value>Java</value>
      <value>Jpan</value>
      <value>Jurc</value>
      <value>Kali</value>
      <value>Kana</value>
      <value>Khar</value>
      <value>Khmr</value>
      <value>Khoj</value>
      <value>Kitl</value>
      <value>Kits</value>
      <value>Knda</value>
      <value>Kore</value>
      <value>Kpel</value>
      <value>Kthi</value>
      <value>Lana</value>
      <value>Laoo</value>
      <value>Latn</value>
      <value>Latf</value>
      <value>Latg</value>
      <value>Lepc</value>
      <value>Limb</value>
      <value>Lina</value>
      <value>Linb</value>
      <value>Lisu</value>
      <value>Loma</value>
      <value>Lyci</value>
      <value>Lydi</value>
      <value>Mahj</value>
      <value>Mand</value>
      <value>Mani</value>
      <value>Marc</value>
      <value>Maya</value>
      <value>Mend</value>
      <value>Merc</value>
      <value>Mero</value>
      <value>Mlym</value>
      <value>Modi</value>
      <value>Mong</value>
      <value>Moon</value>
      <value>Mroo</value>
      <value>Mtei</value>
      <value>Mult</value>
      <value>Mymr</value>
      <value>Narb</value>
      <value>Nbat</value>
      <value>Nkgb</value>
      <value>Nkoo</value>
      <value>Nshu</value>
      <value>Ogam</value>
      <value>Olck</value>
      <value>Orkh</value>
      <value>Orya</value>
      <value>Osge</value>
      <value>Osma</value>
      <value>Palm</value>
      <value>Pauc</value>
      <value>Perm</value>
      <value>Phag</value>
      <value>Phli</value>
      <value>Phlp</value>
      <value>Phlv</value>
      <value>Phnx</value>
      <value>Plrd</value>
      <value>Prti</value>
      <value>Rjng</value>
      <value>Roro</value>
      <value>Runr</value>
      <value>Samr</value>
      <value>Sara</value>
      <value>Sarb</value>
      <value>Saur</value>
      <value>Sgnw</value>
      <value>Shaw</value>
      <value>Shrd</value>
      <value>Sidd</value>
      <value>Sind</value>
      <value>Sinh</value>
      <value>Sora</value>
      <value>Sund</value>
      <value>Sylo</value>
      <value>Syrc</value>
      <value>Syre</value>
      <value>Syrj</value>
      <value>Syrn</value>
      <value>Tagb</value>
      <value>Takr</value>
      <value>Tale</value>
      <value>Talu</value>
      <value>Taml</value>
      <value>Tang</value>
      <value>Tavt</value>
      <value>Telu</value>
      <value>Teng</value>
      <value>Tfng</value>
      <value>Tglg</value>
      <value>Thaa</value>
      <value>Thai</value>
      <value>Tibt</value>
      <value>Tirh</value>
      <value>Ugar</value>
      <value>Vaii</value>
      <value>Visp</value>
      <value>Wara</value>
      <value>Wole</value>
      <value>Xpeo</value>
      <value>Xsux</value>
      <value>Yiii</value>
      <value>Zinh</value>
      <value>Zmth</value>
      <value>Zsym</value>
      <value>Zxxx</value>
      <value>Zyyy</value>
      <value>Zzzz</value>
    </choice>
  </define>
  <define name="rodString">
    <data type="string">
      <param name="pattern">[0-9]{5}</param>
    </data>
  </define>
  <define name="languageScriptDirectionEnum">
    <choice>
      <value>LTR</value>
      <!-- Left to Right -->
      <value>RTL</value>
    </choice>
    <!-- RTL (Right to Left) -->
  </define>
  <define name="numeralSystemEnum">
    <choice>
      <value>Arabic</value>
      <!-- (a.k.a. 'Hindu') = 0123456789 -->
      <value>Bengali</value>
      <value>Burmese</value>
      <value>Chinese</value>
      <value>Cyrillic</value>
      <value>Devanagari</value>
      <value>Ethiopic</value>
      <value>Farsi</value>
      <value>Gujarati</value>
      <value>Gurmukhi</value>
      <value>Hebrew</value>
      <value>Hindi</value>
      <!-- (i.e. 'Arabic' as used in Egypt) -->
      <value>Kannada</value>
      <value>Khmer</value>
      <value>Malayalam</value>
      <value>Oriya</value>
      <value>Roman</value>
      <value>Tamil</value>
      <value>Telugu</value>
      <value>Thai</value>
      <value>Tibetan</value>
    </choice>
  </define>
  <!-- country -->
  <define name="countriesElement">
    <element name="countries">
      <oneOrMore>
        <ref name="countryElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="countryElement">
    <element name="country">
      <interleave>
        <element name="iso">
          <ref name="countryIsoString"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- country text -->
  <define name="countryIsoString">
    <data type="string">
      <param name="pattern">[A-Z][A-Z]</param>
    </data>
  </define>
  <!-- type -->
  <define name="textTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonTextTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonAudioTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>video</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonVideoTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="textExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonTextExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="printExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>print</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="audioExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonAudioExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="videoExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>video</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonVideoExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="brailleExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>braille</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="textTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonTextTranslationTypeElements"/>
        <ref name="commonTextExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonAudioTranslationTypeElements"/>
        <ref name="commonAudioExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>video</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonVideoTranslationTypeElements"/>
        <ref name="commonVideoExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="paratextZipResourceTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>paratextZipResource</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <element name="projectType">
          <ref name="paratextZipResourceProjectType"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="commonTextTranslationTypeElements">
    <interleave>
      <ref name="commonTranslationTypeElements"/>
      <optional>
        <element name="projectType">
          <ref name="textProjectType"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="commonAudioTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonVideoTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonTextExpressionTypeElements">
    <ref name="commonExpressionTypeElements"/>
  </define>
  <define name="commonAudioExpressionTypeElements">
    <interleave>
      <element name="dramatization">
        <ref name="audioTypeDramatizationEnum"/>
      </element>
      <ref name="commonExpressionTypeElements"/>
    </interleave>
  </define>
  <define name="commonVideoExpressionTypeElements">
    <ref name="commonExpressionTypeElements"/>
  </define>
  <define name="commonTranslationTypeElements">
    <interleave>
      <ref name="commonTypeElements"/>
      <optional>
        <element name="translationType">
          <ref name="translationTypeEnum"/>
        </element>
      </optional>
      <optional>
        <element name="audience">
          <ref name="translationLevelEnum"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="commonExpressionTypeElements">
    <ref name="commonTypeElements"/>
  </define>
  <define name="commonTypeElements">
    <empty/>
  </define>
  <!-- type text -->
  <define name="audioTypeDramatizationEnum">
    <choice>
      <value>Dramatized</value>
      <value>Non-Dramatized</value>
      <value>Single-Voice</value>
    </choice>
  </define>
  <define name="translationTypeEnum">
    <choice>
      <value>First</value>
      <value>New</value>
      <value>Revision</value>
      <value>Study / Help Material</value>
    </choice>
  </define>
  <define name="translationLevelEnum">
    <choice>
      <value>Basic</value>
      <value>Common</value>
      <value>Common - Literary</value>
      <value>Literary</value>
      <value>Liturgical</value>
      <value>Children</value>
    </choice>
  </define>
  <define name="textProjectType">
    <choice>
      <value>Standard</value>
      <value>Daughter</value>
      <value>StudyBible</value>
      <value>StudyBibleAdditions</value>
      <value>BackTranslation</value>
      <value>Auxiliary</value>
      <value>TransliterationManual</value>
      <value>TransliterationWithEncoder</value>
      <value>Unknown</value>
    </choice>
  </define>
  <define name="paratextZipResourceProjectType">
    <choice>
      <ref name="textProjectType"/>
      <value>ConsultantNotes</value>
      <value>GlobalConsultantNotes</value>
      <value>GlobalAnthropologyNotes</value>
    </choice>
  </define>
  <!-- format -->
  <define name="textFormatElement">
    <element name="format">
      <element name="versedParagraphs">
        <data type="boolean"/>
      </element>
    </element>
  </define>
  <define name="audioFormatElement">
    <!-- DCMI: format -->
    <element name="format">
      <ref name="audioSubelements"/>
    </element>
  </define>
  <define name="audioSubelements">
    <interleave>
      <optional>
        <element name="compression">
          <ref name="audioCompressionEnum"/>
        </element>
      </optional>
      <optional>
        <element name="trackConfiguration">
          <ref name="audioTrackEnum"/>
        </element>
      </optional>
      <optional>
        <element name="bitRate">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="bitDepth">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="samplingRate">
          <data type="integer"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="printFormatElement">
    <element name="format">
      <interleave>
        <element name="pod">
          <data type="boolean"/>
        </element>
        <element name="pageCount">
          <data type="positiveInteger"/>
        </element>
        <element name="width">
          <ref name="measurementString"/>
        </element>
        <element name="height">
          <ref name="measurementString"/>
        </element>
        <element name="scale">
          <ref name="percentageString"/>
        </element>
        <element name="orientation">
          <ref name="printOrientationEnum"/>
        </element>
        <element name="color">
          <ref name="printColorEnum"/>
        </element>
        <element name="fonts">
          <zeroOrMore>
            <ref name="printFormatFontElement"/>
          </zeroOrMore>
        </element>
        <element name="edgeSpace">
          <interleave>
            <element name="top">
              <ref name="smallMeasurementString"/>
            </element>
            <element name="bottom">
              <ref name="smallMeasurementString"/>
            </element>
            <element name="inside">
              <ref name="smallMeasurementString"/>
            </element>
            <element name="outside">
              <ref name="smallMeasurementString"/>
            </element>
          </interleave>
        </element>
      </interleave>
    </element>
  </define>
  <define name="printFormatFontElement">
    <element name="font">
      <attribute name="type">
        <ref name="printFontEnum"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="videoFormatElement">
    <element name="format">
      <interleave>
        <element name="container">
          <value>MP4</value>
        </element>
        <ref name="videoFormatVideoStream"/>
        <optional>
          <ref name="videoFormatAudioStream"/>
        </optional>
        <optional>
          <ref name="videoFormatSubtitleStream"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="videoFormatVideoStream">
    <element name="videoStream">
      <interleave>
        <element name="codec">
          <data type="string"/>
        </element>
        <element name="bitRate">
          <data type="positiveInteger"/>
        </element>
        <element name="frameRate">
          <data type="decimal"/>
        </element>
        <element name="screenResolution">
          <ref name="screenResolution"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="videoFormatAudioStream">
    <element name="audioStream">
      <ref name="audioSubelements"/>
    </element>
  </define>
  <define name="videoFormatSubtitleStream">
    <element name="subtitleStream">
      <empty/>
    </element>
  </define>
  <define name="brailleFormatElement">
    <element name="format">
      <interleave>
        <element name="isContracted">
          <data type="boolean"/>
        </element>
        <ref name="brailleLiblouisElement"/>
        <optional>
          <ref name="brailleHyphenationDictionaryElement"/>
        </optional>
        <ref name="brailleNumberSignElement"/>
        <optional>
          <ref name="brailleContinuousPoetryElement"/>
        </optional>
        <ref name="brailleContentElement"/>
        <ref name="braillePageElement"/>
      </interleave>
    </element>
  </define>
  <define name="brailleLiblouisElement">
    <element name="liblouis">
      <interleave>
        <element name="version">
          <data type="string"/>
        </element>
        <element name="table">
          <attribute name="src">
            <data type="string"/>
          </attribute>
          <element name="name">
            <data type="string"/>
          </element>
        </element>
      </interleave>
    </element>
  </define>
  <define name="brailleHyphenationDictionaryElement">
    <element name="hyphenationDictionary">
      <attribute name="src">
        <data type="string"/>
      </attribute>
      <element name="name">
        <data type="string"/>
      </element>
    </element>
  </define>
  <define name="brailleNumberSignElement">
    <element name="numberSign">
      <interleave>
        <element name="character">
          <ref name="brailleString"/>
        </element>
        <element name="useInMargin">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="brailleContinuousPoetryElement">
    <element name="poetry">
      <interleave>
        <element name="continuous">
          <value>true</value>
        </element>
        <optional>
          <element name="startIndicator">
            <ref name="brailleString"/>
          </element>
        </optional>
        <optional>
          <element name="lineIndicator">
            <ref name="brailleString"/>
          </element>
        </optional>
        <element name="lineIndicatorSpaced">
          <choice>
            <value>never</value>
            <value>always</value>
            <value>sometimes</value>
          </choice>
        </element>
        <optional>
          <element name="endIndicator">
            <ref name="brailleString"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="brailleContentElement">
    <element name="content">
      <interleave>
        <element name="chapterNumberStyle">
          <choice>
            <value>lower</value>
            <value>upper</value>
          </choice>
        </element>
        <element name="chapterHeadingsNumberFirst">
          <data type="boolean"/>
        </element>
        <element name="versedParagraphs">
          <data type="boolean"/>
        </element>
        <element name="verseSeparator">
          <ref name="brailleString"/>
        </element>
        <element name="includeIntro">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="footnotes">
            <element name="callerSymbol">
              <ref name="brailleString"/>
            </element>
          </element>
        </optional>
        <optional>
          <element name="crossReferences">
            <element name="callerSymbol">
              <ref name="brailleString"/>
            </element>
          </element>
        </optional>
        <optional>
          <element name="characterStyles">
            <interleave>
              <optional>
                <element name="emphasizedWord">
                  <ref name="brailleString"/>
                </element>
              </optional>
              <optional>
                <element name="emphasizedPassageStart">
                  <ref name="brailleString"/>
                </element>
              </optional>
              <optional>
                <element name="emphasizedPassageEnd">
                  <ref name="brailleString"/>
                </element>
              </optional>
            </interleave>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="braillePageElement">
    <element name="page">
      <interleave>
        <element name="charsPerLine">
          <data type="positiveInteger"/>
        </element>
        <element name="linesPerPage">
          <data type="positiveInteger"/>
        </element>
        <element name="defaultMarginWidth">
          <data type="positiveInteger"/>
        </element>
        <element name="versoLastLineBlank">
          <data type="boolean"/>
        </element>
        <element name="carryLines">
          <data type="positiveInteger"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- format text -->
  <define name="measurementString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{1,4}mm</param>
    </data>
  </define>
  <define name="smallMeasurementString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{0,2}mm</param>
    </data>
  </define>
  <define name="percentageString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{1,3}%</param>
    </data>
  </define>
  <define name="screenResolution">
    <data type="string">
      <param name="pattern">[1-9][0-9]{0,3}x[1-9][0-9]{0,3}</param>
    </data>
  </define>
  <define name="audioCompressionEnum">
    <choice>
      <value>MP3</value>
      <value>FLAC</value>
      <value>WAV</value>
      <value>AAC</value>
    </choice>
  </define>
  <define name="audioTrackEnum">
    <choice>
      <value>1/0 (Mono)</value>
      <value>Dual mono</value>
      <value>2/0 (Stereo)</value>
      <value>5.1 Surround</value>
    </choice>
  </define>
  <define name="printOrientationEnum">
    <choice>
      <value>portrait</value>
      <value>landscape</value>
    </choice>
  </define>
  <define name="printColorEnum">
    <choice>
      <value>CMYK</value>
      <value>RGB</value>
    </choice>
  </define>
  <define name="printFontEnum">
    <choice>
      <value>OpenType</value>
      <value>Other</value>
      <value>Bitmap</value>
      <value>TrueType</value>
      <value>Type1</value>
    </choice>
  </define>
  <define name="brailleString">
    <data type="string">
      <param name="pattern">([-])*</param>
    </data>
  </define>
  <!-- names -->
  <define name="namesElement">
    <element name="names">
      <zeroOrMore>
        <ref name="namesName"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="namesName">
    <element name="name">
      <interleave>
        <attribute name="id">
          <ref name="nameIdString"/>
        </attribute>
        <optional>
          <element name="long">
            <ref name="lenGe1Le1024String"/>
          </element>
        </optional>
        <element name="short">
          <ref name="lenGe1Le255String"/>
        </element>
        <optional>
          <element name="abbr">
            <ref name="lenGe1Le255String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- name text -->
  <define name="nameIdString">
    <data type="string">
      <param name="pattern">[A-Za-z][\-A-Za-z0-9_]+</param>
    </data>
  </define>
  <!-- manifest -->
  <define name="nonTranslationManifestElement">
    <element name="manifest">
      <oneOrMore>
        <choice>
          <ref name="nonTranslationManifestContainer"/>
          <ref name="nonTranslationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="translationManifestElement">
    <element name="manifest">
      <oneOrMore>
        <choice>
          <ref name="translationManifestContainer"/>
          <ref name="translationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="nonTranslationManifestContainer">
    <element name="container">
      <attribute name="uri">
        <ref name="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="nonTranslationManifestContainer"/>
          <ref name="nonTranslationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="translationManifestContainer">
    <element name="container">
      <attribute name="uri">
        <ref name="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="translationManifestContainer"/>
          <ref name="translationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <!-- Manifest resource -->
  <define name="translationManifestResource">
    <element name="resource">
      <interleave>
        <ref name="commonManifestResourceAtts"/>
        <optional>
          <attribute name="progress">
            <data type="positiveInteger">
              <param name="maxInclusive">999</param>
            </data>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="nonTranslationManifestResource">
    <element name="resource">
      <ref name="commonManifestResourceAtts"/>
    </element>
  </define>
  <define name="commonManifestResourceAtts">
    <attribute name="uri">
      <ref name="anyURI"/>
    </attribute>
    <attribute name="size">
      <data type="integer"/>
    </attribute>
    <optional>
      <attribute name="checksum">
        <ref name="s3Checksum"/>
      </attribute>
    </optional>
    <attribute name="mimeType">
      <ref name="mimeTypeString"/>
    </attribute>
  </define>
  <!-- manifest text -->
  <define name="s3Checksum">
    <data type="string">
      <param name="pattern">[a-f0-9]{32}(\-\d+)?</param>
    </data>
  </define>
  <define name="mimeTypeString">
    <data type="string">
      <param name="pattern">[\-a-z0-9]+/[\-a-z0-9+]+</param>
    </data>
  </define>
  <!-- source -->
  <define name="translationSourceElement">
    <element name="source">
      <choice>
        <empty/>
        <interleave>
          <element name="canonicalContent">
            <oneOrMore>
              <ref name="canonicalContentBook"/>
            </oneOrMore>
          </element>
          <element name="structure">
            <oneOrMore>
              <choice>
                <ref name="sourceStructureDivision"/>
                <ref name="sourceStructureContent"/>
              </choice>
            </oneOrMore>
          </element>
        </interleave>
      </choice>
    </element>
  </define>
  <define name="paratextZipResourceSourceElement">
    <element name="source">
      <element name="structure">
        <oneOrMore>
          <choice>
            <ref name="sourceStructureDivision"/>
            <ref name="sourceStructureContent"/>
          </choice>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="sourceStructureDivision">
    <element name="division">
      <attribute name="name">
        <ref name="nameIdString"/>
      </attribute>
      <optional>
        <attribute name="role">
          <ref name="roleId"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="sourceStructureDivision"/>
          <ref name="sourceStructureContent"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="sourceStructureContent">
    <element name="content">
      <interleave>
        <optional>
          <attribute name="name">
            <ref name="nameIdString"/>
          </attribute>
        </optional>
        <attribute name="src">
          <ref name="srcPathString"/>
        </attribute>
        <optional>
          <attribute name="role">
            <ref name="roleId"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- source text -->
  <define name="srcPathString">
    <data type="string">
      <param name="pattern">[A-Za-z0-9][\-A-Za-z0-9_\.]+(/[A-Za-z0-9][\-A-Za-z0-9_\.]+)*</param>
    </data>
  </define>
  <define name="srcPathPartString">
    <data type="string">
      <param name="pattern">(((zip|xpath)://)|#).+</param>
    </data>
  </define>
  <!-- publications -->
  <define name="publicationsElement">
    <!-- DCMI: tableOfContents -->
    <element name="publications">
      <oneOrMore>
        <ref name="publicationElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="paratextZipResourcePublicationsElement">
    <element name="publications">
      <oneOrMore>
        <ref name="paratextZipResourcePublicationElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="publicationElement">
    <element name="publication">
      <attribute name="id">
        <ref name="publicationId"/>
      </attribute>
      <optional>
        <attribute name="default">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="publicationChildElements"/>
    </element>
  </define>
  <define name="paratextZipResourcePublicationElement">
    <element name="publication">
      <attribute name="id">
        <ref name="publicationId"/>
      </attribute>
      <optional>
        <attribute name="default">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="paratextZipResourcePublicationChildElements"/>
    </element>
  </define>
  <define name="publicationChildElements">
    <interleave>
      <optional>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="nameLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="abbreviation">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="abbreviationLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="descriptionLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <ref name="publicationCountriesElement"/>
      </optional>
      <optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
      </optional>
      <optional>
        <ref name="canonSpecElement"/>
      </optional>
      <element name="canonicalContent">
        <oneOrMore>
          <ref name="canonicalContentBook"/>
        </oneOrMore>
      </element>
      <element name="structure">
        <ref name="publicationDivisionsOrContent"/>
      </element>
    </interleave>
  </define>
  <define name="paratextZipResourcePublicationChildElements">
    <interleave>
      <optional>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="nameLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <element name="structure">
        <ref name="publicationDivisionsOrContent"/>
      </element>
    </interleave>
  </define>
  <define name="publicationCountriesElement">
    <element name="countries">
      <oneOrMore>
        <ref name="countryElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="canonicalContentBook">
    <element name="book">
      <attribute name="code">
        <ref name="canonicalBookIdEnum"/>
      </attribute>
    </element>
  </define>
  <!-- publication structure -->
  <define name="publicationDivisionsOrContent">
    <oneOrMore>
      <choice>
        <ref name="publicationStructureDivision"/>
        <ref name="publicationStructureContent"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="publicationStructureDivision">
    <element name="division">
      <attribute name="name">
        <ref name="nameIdString"/>
      </attribute>
      <optional>
        <attribute name="role">
          <ref name="roleId"/>
        </attribute>
      </optional>
      <ref name="publicationDivisionsOrContent"/>
    </element>
  </define>
  <define name="publicationStructureContent">
    <element name="content">
      <interleave>
        <optional>
          <attribute name="name">
            <ref name="nameIdString"/>
          </attribute>
        </optional>
        <attribute name="src">
          <ref name="srcPathString"/>
        </attribute>
        <optional>
          <attribute name="role">
            <ref name="roleId"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="srcPart">
            <ref name="srcPathPartString"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- publications text -->
  <define name="roleId">
    <choice>
      <ref name="ptReference"/>
      <ref name="nonCanonicalBookIdEnum"/>
      <ref name="knownRole"/>
      <ref name="extensionRole"/>
    </choice>
  </define>
  <define name="ptReference">
    <data type="string">
      <param name="pattern">((GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)(( [1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?((,([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?))*))|( [1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?(,(([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?)|([1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?)))*))?)(;(((GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)(( [1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?((,([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?))*))|( [1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?(,(([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?)|([1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?)))*))?)))*</param>
    </data>
  </define>
  <define name="knownRole">
    <choice>
      <value>sourceZip</value>
      <value>sourceFile</value>
      <value>lds</value>
      <value>ldml</value>
      <value>styles</value>
      <value>vrs</value>
    </choice>
  </define>
  <define name="extensionRole">
    <data type="string">
      <param name="pattern">X-[A-Za-z0-9][A-Za-z0-9\-]*</param>
    </data>
  </define>
  <define name="canonicalBookIdEnum">
    <choice>
      <ref name="OTBookIdEnum"/>
      <ref name="NTBookIdEnum"/>
      <ref name="DCBookIdEnum"/>
    </choice>
  </define>
  <define name="OTBookIdEnum">
    <choice>
      <value>GEN</value>
      <!-- Genesis -->
      <value>EXO</value>
      <!-- Exodus -->
      <value>LEV</value>
      <!-- Leviticus -->
      <value>NUM</value>
      <!-- Numbers -->
      <value>DEU</value>
      <!-- Deuteronomy -->
      <value>JOS</value>
      <!-- Joshua -->
      <value>JDG</value>
      <!-- Judges -->
      <value>RUT</value>
      <!-- Ruth -->
      <value>1SA</value>
      <!-- 1 Samuel -->
      <value>2SA</value>
      <!-- 2 Samuel -->
      <value>1KI</value>
      <!-- 1 Kings -->
      <value>2KI</value>
      <!-- 2 Kings -->
      <value>1CH</value>
      <!-- 1 Chronicles -->
      <value>2CH</value>
      <!-- 2 Chronicles -->
      <value>EZR</value>
      <!-- Ezra -->
      <value>NEH</value>
      <!-- Nehemiah -->
      <value>EST</value>
      <!-- Esther (Hebrew) -->
      <value>JOB</value>
      <!-- Job -->
      <value>PSA</value>
      <!-- Psalms -->
      <value>PRO</value>
      <!-- Proverbs -->
      <value>ECC</value>
      <!-- Ecclesiastes -->
      <value>SNG</value>
      <!-- Song of Songs -->
      <value>ISA</value>
      <!-- Isaiah -->
      <value>JER</value>
      <!-- Jeremiah -->
      <value>LAM</value>
      <!-- Lamentations -->
      <value>EZK</value>
      <!-- Ezekiel -->
      <value>DAN</value>
      <!-- Daniel (Hebrew) -->
      <value>HOS</value>
      <!-- Hosea -->
      <value>JOL</value>
      <!-- Joel -->
      <value>AMO</value>
      <!-- Amos -->
      <value>OBA</value>
      <!-- Obadiah -->
      <value>JON</value>
      <!-- Jonah -->
      <value>MIC</value>
      <!-- Micah -->
      <value>NAM</value>
      <!-- Nahum -->
      <value>HAB</value>
      <!-- Habakkuk -->
      <value>ZEP</value>
      <!-- Zephaniah -->
      <value>HAG</value>
      <!-- Haggai -->
      <value>ZEC</value>
      <!-- Zechariah -->
      <value>MAL</value>
    </choice>
    <!-- Malachi -->
  </define>
  <define name="NTBookIdEnum">
    <choice>
      <value>MAT</value>
      <!-- Matthew -->
      <value>MRK</value>
      <!-- Mark -->
      <value>LUK</value>
      <!-- Luke -->
      <value>JHN</value>
      <!-- John -->
      <value>ACT</value>
      <!-- Acts -->
      <value>ROM</value>
      <!-- Romans -->
      <value>1CO</value>
      <!-- 1 Corinthians -->
      <value>2CO</value>
      <!-- 2 Corinthians -->
      <value>GAL</value>
      <!-- Galatians -->
      <value>EPH</value>
      <!-- Ephesians -->
      <value>PHP</value>
      <!-- Philippians -->
      <value>COL</value>
      <!-- Colossians -->
      <value>1TH</value>
      <!-- 1 Thessalonians -->
      <value>2TH</value>
      <!-- 2 Thessalonians -->
      <value>1TI</value>
      <!-- 1 Timothy -->
      <value>2TI</value>
      <!-- 2 Timothy -->
      <value>TIT</value>
      <!-- Titus -->
      <value>PHM</value>
      <!-- Philemon -->
      <value>HEB</value>
      <!-- Hebrews -->
      <value>JAS</value>
      <!-- James -->
      <value>1PE</value>
      <!-- 1 Peter -->
      <value>2PE</value>
      <!-- 2 Peter -->
      <value>1JN</value>
      <!-- 1 John -->
      <value>2JN</value>
      <!-- 2 John -->
      <value>3JN</value>
      <!-- 3 John -->
      <value>JUD</value>
      <!-- Jude -->
      <value>REV</value>
    </choice>
    <!-- Revelation -->
  </define>
  <define name="DCBookIdEnum">
    <choice>
      <value>TOB</value>
      <!-- Tobit -->
      <value>JDT</value>
      <!-- Judith -->
      <value>ESG</value>
      <!-- Esther Greek -->
      <value>WIS</value>
      <!-- Wisdom of Solomon -->
      <value>SIR</value>
      <!-- Sirach (Ecclesiasticus) -->
      <value>BAR</value>
      <!-- Baruch -->
      <value>LJE</value>
      <!-- Letter of Jeremiah -->
      <value>S3Y</value>
      <!-- Song of 3 Young Men -->
      <value>SUS</value>
      <!-- Susanna -->
      <value>BEL</value>
      <!-- Bel and the Dragon -->
      <value>1MA</value>
      <!-- 1 Maccabees -->
      <value>2MA</value>
      <!-- 2 Maccabees -->
      <value>3MA</value>
      <!-- 3 Maccabees -->
      <value>4MA</value>
      <!-- 4 Maccabees -->
      <value>1ES</value>
      <!-- 1 Esdras (Greek) -->
      <value>2ES</value>
      <!-- 2 Esdras (Latin) -->
      <value>MAN</value>
      <!-- Prayer of Manasseh -->
      <value>PS2</value>
      <!-- Psalm 151 -->
      <value>ODA</value>
      <!-- Odes -->
      <value>PSS</value>
      <!-- Psalms of Solomon -->
      <value>JSA</value>
      <!-- actual variant text for JOS, now in LXA text -->
      <value>JDB</value>
      <!-- actual variant text for JDG, now in LXA text -->
      <value>TBS</value>
      <!-- actual variant text for TOB, now in LXA text -->
      <value>SST</value>
      <!-- actual variant text for SUS, now in LXA text -->
      <value>DNT</value>
      <!-- actual variant text for DAN, now in LXA text -->
      <value>BLT</value>
      <!-- actual variant text for BEL, now in LXA text -->
      <value>EZA</value>
      <!-- Apocalypse of Ezra -->
      <value>5EZ</value>
      <!-- 5 Ezra -->
      <value>6EZ</value>
      <!-- 6 Ezra -->
      <value>DAG</value>
      <!-- Daniel Greek -->
      <value>PS3</value>
      <!-- Psalms 152-155 -->
      <value>2BA</value>
      <!-- 2 Baruch (Apocalypse) -->
      <value>LBA</value>
      <!-- Letter of Baruch -->
      <value>JUB</value>
      <!-- Jubilees -->
      <value>ENO</value>
      <!-- Enoch -->
      <value>1MQ</value>
      <!-- 1 Meqabyan -->
      <value>2MQ</value>
      <!-- 2 Meqabyan -->
      <value>3MQ</value>
      <!-- 3 Meqabyan -->
      <value>REP</value>
      <!-- Reproof -->
      <value>4BA</value>
      <!-- 4 Baruch -->
      <value>LAO</value>
    </choice>
    <!-- Laodiceans -->
  </define>
  <define name="nonCanonicalBookIdEnum">
    <choice>
      <value>XXA</value>
      <!-- Extra A, e.g. a hymnal -->
      <value>XXB</value>
      <!-- Extra B -->
      <value>XXC</value>
      <!-- Extra C -->
      <value>XXD</value>
      <!-- Extra D -->
      <value>XXE</value>
      <!-- Extra E -->
      <value>XXF</value>
      <!-- Extra F -->
      <value>XXG</value>
      <!-- Extra G -->
      <value>FRT</value>
      <!-- Front Matter -->
      <value>BAK</value>
      <!-- Back Matter -->
      <value>OTH</value>
      <!-- Other Matter -->
      <value>INT</value>
      <!-- Introduction -->
      <value>CNC</value>
      <!-- Concordance -->
      <value>GLO</value>
      <!-- Glossary -->
      <value>TDX</value>
      <!-- Topical Index -->
      <value>NDX</value>
    </choice>
    <!-- Names Index -->
  </define>
  <define name="publicationId">
    <data type="string">
      <param name="pattern">[A-Za-z][A-Za-z0-9_\-]{0,31}</param>
    </data>
  </define>
  <!-- copyright -->
  <define name="copyrightElement">
    <element name="copyright">
      <interleave>
        <optional>
          <ref name="copyrightFullStatementElement"/>
        </optional>
        <optional>
          <ref name="copyrightShortStatementElement"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="copyrightFullStatementElement">
    <element name="fullStatement">
      <oneOrMore>
        <ref name="statementContent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="copyrightShortStatementElement">
    <element name="shortStatement">
      <oneOrMore>
        <ref name="statementContent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="statementContent">
    <choice>
      <ref name="htmlStatementContent"/>
      <ref name="plainStatementContent"/>
    </choice>
  </define>
  <define name="htmlStatementContent">
    <element name="statementContent">
      <attribute name="type">
        <value>xhtml</value>
      </attribute>
      <oneOrMore>
        <ref name="simplifiedHtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="plainStatementContent">
    <element name="statementContent">
      <attribute name="type">
        <value>plain</value>
      </attribute>
      <text/>
    </element>
  </define>
  <!-- html -->
  <define name="simplifiedHtml">
    <oneOrMore>
      <ref name="shBlockElement"/>
    </oneOrMore>
  </define>
  <define name="shBlockElement">
    <choice>
      <ref name="shP"/>
      <ref name="shH1"/>
      <ref name="shH2"/>
      <ref name="shH3"/>
      <ref name="shUl"/>
      <ref name="shOl"/>
      <ref name="shBlockquote"/>
    </choice>
  </define>
  <define name="shP">
    <element name="p">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shH1">
    <element name="h1">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shH2">
    <element name="h2">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shH3">
    <element name="h3">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shOl">
    <element name="ol">
      <oneOrMore>
        <ref name="shLi"/>
      </oneOrMore>
    </element>
  </define>
  <define name="shUl">
    <element name="ul">
      <oneOrMore>
        <ref name="shLi"/>
      </oneOrMore>
    </element>
  </define>
  <define name="shLi">
    <element name="li">
      <mixed>
        <interleave>
          <zeroOrMore>
            <ref name="shCharMarkup"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="shBlockElement"/>
          </zeroOrMore>
        </interleave>
      </mixed>
    </element>
  </define>
  <define name="shBlockquote">
    <element name="blockquote">
      <oneOrMore>
        <ref name="shBlockElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="shCharMarkup">
    <choice>
      <ref name="shA"/>
      <ref name="shImg"/>
      <ref name="shBr"/>
      <ref name="shStrong"/>
      <ref name="shB"/>
      <ref name="shEm"/>
      <ref name="shI"/>
    </choice>
  </define>
  <define name="shA">
    <element name="a">
      <attribute name="href">
        <ref name="anyURI"/>
      </attribute>
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shImg">
    <element name="img">
      <attribute name="src">
        <ref name="anyURI"/>
      </attribute>
      <attribute name="alt">
        <ref name="lenGe1String"/>
      </attribute>
    </element>
  </define>
  <define name="shBr">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="shStrong">
    <element name="strong">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shB">
    <element name="b">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shEm">
    <element name="em">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="shI">
    <element name="i">
      <mixed>
        <zeroOrMore>
          <ref name="shCharMarkup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <!-- promotion -->
  <define name="promotionElement">
    <element name="promotion">
      <optional>
        <element name="promoVersionInfo">
          <attribute name="contentType">
            <value>xhtml</value>
          </attribute>
          <oneOrMore>
            <ref name="simplifiedHtml"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <!-- archive_status -->
  <define name="archiveStatusElement">
    <element name="archiveStatus">
      <interleave>
        <optional>
          <element name="bundleCreatorName">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="archivistName">
          <ref name="lenGe2String"/>
        </element>
        <element name="dateArchived">
          <data type="dateTime"/>
        </element>
        <element name="dateUpdated">
          <data type="dateTime"/>
        </element>
        <element name="comments">
          <ref name="lenLe255String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="progressElement">
    <element name="progress">
      <oneOrMore>
        <element name="book">
          <attribute name="code">
            <ref name="canonicalBookIdEnum"/>
          </attribute>
          <attribute name="stage">
            <data type="integer">
              <param name="minInclusive">1</param>
              <param name="maxInclusive">12</param>
            </data>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </define>
</grammar>
