v2/2_1/schemas/metadata-lax.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  metadata-lax.rnc v2.1
  Generated by mark@notamacbook using makeRNC.py
  Generated Tue Jan 23 15:57:54 2018
-->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="dblMetadataElement"/>
  </start>
  <!-- DBLMetadata -->
  <!-- Document types -->
  <define name="dblMetadataElement">
    <choice>
      <ref name="translationMetadata"/>
      <ref name="expressionMetadata"/>
      <ref name="translationAndExpressionMetadata"/>
    </choice>
  </define>
  <define name="translationMetadata">
    <choice>
      <ref name="textTranslationMetadata"/>
      <ref name="audioTranslationMetadata"/>
      <ref name="videoTranslationMetadata"/>
    </choice>
  </define>
  <define name="expressionMetadata">
    <choice>
      <ref name="textExpressionMetadata"/>
      <ref name="audioExpressionMetadata"/>
      <ref name="printExpressionMetadata"/>
      <ref name="videoExpressionMetadata"/>
      <ref name="brailleExpressionMetadata"/>
    </choice>
  </define>
  <define name="translationAndExpressionMetadata">
    <choice>
      <ref name="textTranslationAndExpressionMetadata"/>
      <ref name="audioTranslationAndExpressionMetadata"/>
      <ref name="videoTranslationAndExpressionMetadata"/>
    </choice>
  </define>
  <define name="textTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="textIdentificationElement"/>
        <ref name="translationCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="textTranslationTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="audioTranslationTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="videoTranslationTypeElement"/>
        <ref name="videoFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="textExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="textIdentificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="textExpressionTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="printExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="printExpressionTypeElement"/>
        <ref name="printFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="audioExpressionTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="videoExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="identificationElement"/>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="videoExpressionTypeElement"/>
        <ref name="videoFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="brailleExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="expressionCommonElements"/>
        <ref name="shortLanguageElement"/>
        <ref name="brailleExpressionTypeElement"/>
        <ref name="brailleFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="textTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="textIdentificationElement"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="textTranslationAndExpressionTypeElement"/>
        <ref name="textFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="audioTranslationAndExpressionTypeElement"/>
        <ref name="audioFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationAndExpressionMetadata">
    <element name="DBLMetadata">
      <interleave>
        <ref name="dblMetadataCommonAtts"/>
        <ref name="identificationElement"/>
        <ref name="translationAndExpressionCommonElements"/>
        <ref name="fullLanguageElement"/>
        <ref name="videoTranslationAndExpressionTypeElement"/>
        <ref name="videoFormatElement"/>
      </interleave>
    </element>
  </define>
  <define name="translationCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="translationManifestElement"/>
      <ref name="translationSourceElement"/>
    </interleave>
  </define>
  <define name="expressionCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="promotionElement"/>
      <ref name="nonTranslationManifestElement"/>
      <ref name="publicationsElement"/>
      <optional>
        <ref name="translationSourceElement"/>
      </optional>
    </interleave>
  </define>
  <define name="translationAndExpressionCommonElements">
    <interleave>
      <ref name="commonElements"/>
      <ref name="promotionElement"/>
      <ref name="translationManifestElement"/>
      <ref name="publicationsElement"/>
      <ref name="translationSourceElement"/>
    </interleave>
  </define>
  <define name="commonElements">
    <interleave>
      <ref name="relationshipsElement"/>
      <ref name="agenciesElement"/>
      <ref name="countriesElement"/>
      <ref name="namesElement"/>
      <ref name="copyrightElement"/>
      <optional>
        <ref name="progressElement"/>
      </optional>
      <ref name="archiveStatusElement"/>
    </interleave>
  </define>
  <define name="dblMetadataCommonAtts">
    <interleave>
      <attribute name="version">
        <value>2.1</value>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <ref name="revisionValue"/>
      </attribute>
    </interleave>
  </define>
  <!-- metadata text (lax) -->
  <define name="bundleIdString">
    <text/>
  </define>
  <define name="revisionValue">
    <text/>
  </define>
  <!-- generic text (lax) -->
  <define name="nonEmptyString">
    <text/>
  </define>
  <define name="lenGe1String">
    <text/>
  </define>
  <define name="lenGe2String">
    <text/>
  </define>
  <define name="lenGe2Le255String">
    <text/>
  </define>
  <define name="lenGe1Le255String">
    <text/>
  </define>
  <define name="lenGe1Le1024String">
    <text/>
  </define>
  <define name="lenLe255String">
    <text/>
  </define>
  <define name="anyURI">
    <text/>
  </define>
  <!-- identification -->
  <define name="identificationElement">
    <element name="identification">
      <interleave>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="abbreviation">
            <ref name="abbreviationString"/>
          </element>
        </optional>
        <optional>
          <element name="abbreviationLocal">
            <ref name="localAbbreviationString"/>
          </element>
        </optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="descriptionLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
        <optional>
          <ref name="canonSpecElement"/>
        </optional>
        <optional>
          <element name="dateCompleted">
            <ref name="dateCompletedValue"/>
          </element>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="gbcSystemId"/>
            <ref name="ptSystemId"/>
            <ref name="reapSystemId"/>
            <ref name="biblicaSystemId"/>
            <ref name="tmsSystemId"/>
            <ref name="ptregSystemId"/>
          </choice>
        </zeroOrMore>
        <element name="bundleProducer">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="textIdentificationElement">
    <element name="identification">
      <interleave>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="abbreviation">
          <ref name="abbreviationString"/>
        </element>
        <optional>
          <element name="abbreviationLocal">
            <ref name="localAbbreviationString"/>
          </element>
        </optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="descriptionLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
        <optional>
          <ref name="canonSpecElement"/>
        </optional>
        <optional>
          <element name="dateCompleted">
            <ref name="dateCompletedValue"/>
          </element>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="gbcSystemId"/>
            <ref name="ptSystemId"/>
            <ref name="reapSystemId"/>
            <ref name="biblicaSystemId"/>
            <ref name="tmsSystemId"/>
            <ref name="ptregSystemId"/>
            <ref name="dbpSystemId"/>
          </choice>
        </zeroOrMore>
        <element name="bundleProducer">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="gbcSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>gbc</value>
      </attribute>
      <ref name="gbcElements"/>
    </element>
  </define>
  <define name="gbcElements">
    <element name="id">
      <ref name="gbcId"/>
    </element>
  </define>
  <define name="ptregSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>ptreg</value>
      </attribute>
      <ref name="ptregElements"/>
    </element>
  </define>
  <define name="tmsSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>tms</value>
      </attribute>
      <ref name="tmsElements"/>
    </element>
  </define>
  <define name="tmsElements">
    <element name="id">
      <ref name="tmsId"/>
    </element>
  </define>
  <define name="ptSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>paratext</value>
      </attribute>
      <ref name="ptElements"/>
    </element>
  </define>
  <define name="ptElements">
    <interleave>
      <element name="name">
        <ref name="lenGe2String"/>
      </element>
      <element name="fullName">
        <ref name="lenGe2String"/>
      </element>
      <optional>
        <element name="csetId">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <element name="id">
        <ref name="ptId"/>
      </element>
    </interleave>
  </define>
  <define name="ptregElements">
    <element name="id">
      <ref name="ptregId"/>
    </element>
  </define>
  <define name="reapSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>reap</value>
      </attribute>
      <ref name="reapElements"/>
    </element>
  </define>
  <define name="reapElements">
    <element name="id">
      <ref name="reapId"/>
    </element>
  </define>
  <define name="biblicaSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>biblica</value>
      </attribute>
      <ref name="biblicaElements"/>
    </element>
  </define>
  <define name="biblicaElements">
    <element name="id">
      <ref name="biblicaId"/>
    </element>
  </define>
  <define name="dbpSystemId">
    <element name="systemId">
      <attribute name="type">
        <value>dbp</value>
      </attribute>
      <ref name="dbpElements"/>
    </element>
  </define>
  <define name="dbpElements">
    <element name="id">
      <ref name="dbpId"/>
    </element>
  </define>
  <!-- canon -->
  <define name="canonSpecElement">
    <element name="canonSpec">
      <attribute name="type">
        <ref name="canonTypes"/>
      </attribute>
      <oneOrMore>
        <ref name="canonComponent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="canonComponent">
    <element name="component">
      <ref name="canonComponentEnum"/>
    </element>
  </define>
  <!-- canon text (lax) -->
  <define name="canonTypes">
    <text/>
  </define>
  <define name="canonComponentEnum">
    <text/>
  </define>
  <!-- identification text (lax) -->
  <define name="abbreviationString">
    <text/>
  </define>
  <define name="localAbbreviationString">
    <text/>
  </define>
  <define name="biblicaId">
    <text/>
  </define>
  <define name="gbcId">
    <text/>
  </define>
  <define name="tmsId">
    <text/>
  </define>
  <define name="ptId">
    <text/>
  </define>
  <define name="ptregId">
    <text/>
  </define>
  <define name="reapId">
    <text/>
  </define>
  <define name="dbpId">
    <text/>
  </define>
  <define name="dateCompletedValue">
    <text/>
  </define>
  <define name="scopeEnum">
    <text/>
  </define>
  <!-- relationships -->
  <define name="relationshipsElement">
    <element name="relationships">
      <zeroOrMore>
        <choice>
          <ref name="sourceRelationElement"/>
          <ref name="expressionRelationElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sourceRelationElement">
    <element name="relation">
      <attribute name="relationType">
        <value>source</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>text</value>
          <value>audio</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <data type="integer"/>
      </attribute>
    </element>
  </define>
  <define name="expressionRelationElement">
    <element name="relation">
      <attribute name="relationType">
        <value>expression</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>audio</value>
          <value>print</value>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="bundleIdString"/>
      </attribute>
      <attribute name="revision">
        <data type="integer"/>
      </attribute>
    </element>
  </define>
  <!-- agencies -->
  <define name="agenciesElement">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="rightsHolderElement"/>
        </oneOrMore>
        <optional>
          <ref name="rightsAdminElement"/>
        </optional>
        <oneOrMore>
          <ref name="contributorElement"/>
        </oneOrMore>
      </interleave>
    </element>
  </define>
  <define name="rightsHolderElement">
    <element name="rightsHolder">
      <interleave>
        <element name="abbr">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="url">
            <ref name="anyURI"/>
          </element>
        </optional>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="rightsAdminElement">
    <element name="rightsAdmin">
      <interleave>
        <optional>
          <element name="url">
            <ref name="anyURI"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="contributorElement">
    <element name="contributor">
      <interleave>
        <element name="content">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="publication">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="management">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="finance">
            <data type="boolean"/>
          </element>
        </optional>
        <optional>
          <element name="qa">
            <data type="boolean"/>
          </element>
        </optional>
        <element name="uid">
          <ref name="agenciesUID"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- agencies text (lax) -->
  <define name="agenciesUID">
    <text/>
  </define>
  <!-- language -->
  <define name="fullLanguageElement">
    <element name="language">
      <interleave>
        <ref name="commonLanguageElements"/>
        <element name="scriptCode">
          <ref name="iso15924String"/>
        </element>
        <element name="script">
          <ref name="lenGe2String"/>
        </element>
        <element name="scriptDirection">
          <ref name="languageScriptDirectionEnum"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="shortLanguageElement">
    <element name="language">
      <interleave>
        <ref name="commonLanguageElements"/>
        <optional>
          <element name="scriptCode">
            <ref name="iso15924String"/>
          </element>
        </optional>
        <optional>
          <element name="script">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <optional>
          <element name="scriptDirection">
            <ref name="languageScriptDirectionEnum"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="commonLanguageElements">
    <interleave>
      <element name="iso">
        <ref name="languageIsoString"/>
      </element>
      <element name="name">
        <ref name="lenGe2String"/>
      </element>
      <optional>
        <element name="nameLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="ldml">
          <ref name="ldmlString"/>
        </element>
      </optional>
      <optional>
        <element name="rod">
          <ref name="rodString"/>
        </element>
      </optional>
      <optional>
        <element name="numerals">
          <ref name="numeralSystemEnum"/>
        </element>
      </optional>
    </interleave>
  </define>
  <!-- language text (lax) -->
  <define name="languageIsoString">
    <text/>
  </define>
  <define name="ldmlString">
    <text/>
  </define>
  <define name="iso15924String">
    <text/>
  </define>
  <define name="rodString">
    <text/>
  </define>
  <define name="languageScriptDirectionEnum">
    <text/>
  </define>
  <define name="numeralSystemEnum">
    <text/>
  </define>
  <!-- country -->
  <define name="countriesElement">
    <element name="countries">
      <oneOrMore>
        <ref name="countryElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="countryElement">
    <element name="country">
      <interleave>
        <element name="iso">
          <ref name="countryIsoString"/>
        </element>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
        <optional>
          <element name="nameLocal">
            <ref name="lenGe2String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- country text (lax) -->
  <define name="countryIsoString">
    <text/>
  </define>
  <!-- type -->
  <define name="textTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonTextTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonAudioTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>video</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>false</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
        <ref name="commonVideoTranslationTypeElements"/>
      </interleave>
    </element>
  </define>
  <define name="textExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonTextExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="printExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>print</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="audioExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonAudioExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="videoExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>video</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonVideoExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="brailleExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>braille</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>false</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="textTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>text</value>
        </element>
        <element name="hasCharacters">
          <value>true</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonTextTranslationTypeElements"/>
        <ref name="commonTextExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="audioTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>audio</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonAudioTranslationTypeElements"/>
        <ref name="commonAudioExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="videoTranslationAndExpressionTypeElement">
    <element name="type">
      <interleave>
        <element name="medium">
          <value>video</value>
        </element>
        <element name="hasCharacters">
          <value>false</value>
        </element>
        <element name="isTranslation">
          <value>true</value>
        </element>
        <element name="isExpression">
          <value>true</value>
        </element>
        <ref name="commonVideoTranslationTypeElements"/>
        <ref name="commonVideoExpressionTypeElements"/>
        <element name="isConfidential">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="commonTextTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonAudioTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonVideoTranslationTypeElements">
    <ref name="commonTranslationTypeElements"/>
  </define>
  <define name="commonTextExpressionTypeElements">
    <ref name="commonExpressionTypeElements"/>
  </define>
  <define name="commonAudioExpressionTypeElements">
    <interleave>
      <element name="dramatization">
        <ref name="audioTypeDramatizationEnum"/>
      </element>
      <ref name="commonExpressionTypeElements"/>
    </interleave>
  </define>
  <define name="commonVideoExpressionTypeElements">
    <ref name="commonExpressionTypeElements"/>
  </define>
  <define name="commonTranslationTypeElements">
    <interleave>
      <ref name="commonTypeElements"/>
      <optional>
        <element name="translationType">
          <ref name="translationTypeEnum"/>
        </element>
      </optional>
      <optional>
        <element name="audience">
          <ref name="translationLevelEnum"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="commonExpressionTypeElements">
    <ref name="commonTypeElements"/>
  </define>
  <define name="commonTypeElements">
    <empty/>
  </define>
  <!-- type text (lax) -->
  <define name="audioTypeDramatizationEnum">
    <text/>
  </define>
  <define name="translationTypeEnum">
    <text/>
  </define>
  <define name="translationLevelEnum">
    <text/>
  </define>
  <!-- format -->
  <define name="textFormatElement">
    <element name="format">
      <element name="versedParagraphs">
        <data type="boolean"/>
      </element>
    </element>
  </define>
  <define name="audioFormatElement">
    <!-- DCMI: format -->
    <element name="format">
      <ref name="audioSubelements"/>
    </element>
  </define>
  <define name="audioSubelements">
    <interleave>
      <optional>
        <element name="compression">
          <ref name="audioCompressionEnum"/>
        </element>
      </optional>
      <optional>
        <element name="trackConfiguration">
          <ref name="audioTrackEnum"/>
        </element>
      </optional>
      <optional>
        <element name="bitRate">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="bitDepth">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="samplingRate">
          <data type="integer"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="printFormatElement">
    <element name="format">
      <interleave>
        <element name="pod">
          <data type="boolean"/>
        </element>
        <element name="width">
          <ref name="measurementString"/>
        </element>
        <element name="height">
          <ref name="measurementString"/>
        </element>
        <element name="scale">
          <ref name="percentageString"/>
        </element>
        <element name="orientation">
          <ref name="printOrientationEnum"/>
        </element>
        <element name="color">
          <ref name="printColorEnum"/>
        </element>
        <element name="fonts">
          <zeroOrMore>
            <ref name="printFormatFontElement"/>
          </zeroOrMore>
        </element>
      </interleave>
    </element>
  </define>
  <define name="printFormatFontElement">
    <element name="font">
      <attribute name="type">
        <ref name="printFontEnum"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="videoFormatElement">
    <element name="format">
      <interleave>
        <element name="container">
          <value>MP4</value>
        </element>
        <ref name="videoFormatVideoStream"/>
        <optional>
          <ref name="videoFormatAudioStream"/>
        </optional>
        <optional>
          <ref name="videoFormatSubtitleStream"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="videoFormatVideoStream">
    <element name="videoStream">
      <interleave>
        <element name="codec">
          <data type="string"/>
        </element>
        <element name="bitRate">
          <data type="positiveInteger"/>
        </element>
        <element name="frameRate">
          <data type="decimal"/>
        </element>
        <element name="screenResolution">
          <ref name="screenResolution"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="videoFormatAudioStream">
    <element name="audioStream">
      <ref name="audioSubelements"/>
    </element>
  </define>
  <define name="videoFormatSubtitleStream">
    <element name="subtitleStream">
      <empty/>
    </element>
  </define>
  <define name="brailleFormatElement">
    <element name="format">
      <interleave>
        <element name="contracted">
          <data type="boolean"/>
        </element>
        <element name="libLouisConfig">
          <data type="string"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- format text (lax) -->
  <define name="measurementString">
    <text/>
  </define>
  <define name="percentageString">
    <text/>
  </define>
  <define name="screenResolution">
    <text/>
  </define>
  <define name="audioCompressionEnum">
    <text/>
  </define>
  <define name="audioTrackEnum">
    <text/>
  </define>
  <define name="printOrientationEnum">
    <text/>
  </define>
  <define name="printColorEnum">
    <text/>
  </define>
  <define name="printFontEnum">
    <text/>
  </define>
  <!-- names -->
  <define name="namesElement">
    <element name="names">
      <zeroOrMore>
        <ref name="namesName"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="namesName">
    <element name="name">
      <interleave>
        <attribute name="id">
          <ref name="nameIdString"/>
        </attribute>
        <optional>
          <element name="long">
            <ref name="lenGe1Le1024String"/>
          </element>
        </optional>
        <element name="short">
          <ref name="lenGe1Le255String"/>
        </element>
        <optional>
          <element name="abbr">
            <ref name="lenGe1Le255String"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- name text (lax) -->
  <define name="nameIdString">
    <text/>
  </define>
  <!-- manifest -->
  <define name="nonTranslationManifestElement">
    <element name="manifest">
      <zeroOrMore>
        <choice>
          <ref name="nonTranslationManifestContainer"/>
          <ref name="nonTranslationManifestResource"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="translationManifestElement">
    <element name="manifest">
      <zeroOrMore>
        <choice>
          <ref name="translationManifestContainer"/>
          <ref name="translationManifestResource"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="nonTranslationManifestContainer">
    <element name="container">
      <attribute name="uri">
        <ref name="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="nonTranslationManifestContainer"/>
          <ref name="nonTranslationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="translationManifestContainer">
    <element name="container">
      <attribute name="uri">
        <ref name="anyURI"/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="translationManifestContainer"/>
          <ref name="translationManifestResource"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <!-- Manifest resource -->
  <define name="translationManifestResource">
    <element name="resource">
      <interleave>
        <ref name="commonManifestResourceAtts"/>
        <optional>
          <attribute name="progress">
            <data type="positiveInteger">
              <param name="maxInclusive">999</param>
            </data>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="nonTranslationManifestResource">
    <element name="resource">
      <ref name="commonManifestResourceAtts"/>
    </element>
  </define>
  <define name="commonManifestResourceAtts">
    <attribute name="uri">
      <ref name="anyURI"/>
    </attribute>
    <attribute name="size">
      <data type="integer"/>
    </attribute>
    <optional>
      <attribute name="checksum">
        <ref name="s3Checksum"/>
      </attribute>
    </optional>
    <attribute name="mimeType">
      <ref name="mimeTypeString"/>
    </attribute>
  </define>
  <!-- manifest text (lax) -->
  <define name="s3Checksum">
    <text/>
  </define>
  <define name="mimeTypeString">
    <text/>
  </define>
  <!-- source -->
  <define name="translationSourceElement">
    <element name="source">
      <choice>
        <empty/>
        <interleave>
          <element name="canonicalContent">
            <oneOrMore>
              <ref name="canonicalContentBook"/>
            </oneOrMore>
          </element>
          <element name="structure">
            <oneOrMore>
              <choice>
                <ref name="sourceStructureDivision"/>
                <ref name="sourceStructureContent"/>
              </choice>
            </oneOrMore>
          </element>
        </interleave>
      </choice>
    </element>
  </define>
  <define name="sourceStructureDivision">
    <element name="division">
      <attribute name="name">
        <ref name="nameIdString"/>
      </attribute>
      <optional>
        <attribute name="role">
          <ref name="roleId"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="sourceStructureDivision"/>
          <ref name="sourceStructureContent"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="sourceStructureContent">
    <element name="content">
      <interleave>
        <optional>
          <attribute name="name">
            <ref name="nameIdString"/>
          </attribute>
        </optional>
        <attribute name="src">
          <ref name="srcPathString"/>
        </attribute>
        <optional>
          <attribute name="role">
            <ref name="roleId"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- source text (lax) -->
  <define name="srcPathString">
    <text/>
  </define>
  <!-- publications -->
  <define name="publicationsElement">
    <!-- DCMI: tableOfContents -->
    <element name="publications">
      <oneOrMore>
        <ref name="publicationElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="publicationElement">
    <element name="publication">
      <attribute name="id">
        <ref name="publicationId"/>
      </attribute>
      <optional>
        <attribute name="default">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="publicationChildElements"/>
    </element>
  </define>
  <define name="publicationChildElements">
    <interleave>
      <optional>
        <element name="name">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="nameLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="abbreviation">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="abbreviationLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="description">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <element name="descriptionLocal">
          <ref name="lenGe2String"/>
        </element>
      </optional>
      <optional>
        <ref name="publicationCountriesElement"/>
      </optional>
      <optional>
        <element name="scope">
          <ref name="scopeEnum"/>
        </element>
      </optional>
      <optional>
        <ref name="canonSpecElement"/>
      </optional>
      <element name="canonicalContent">
        <oneOrMore>
          <ref name="canonicalContentBook"/>
        </oneOrMore>
      </element>
      <element name="structure">
        <oneOrMore>
          <choice>
            <ref name="publicationStructureDivision"/>
            <ref name="publicationStructureContent"/>
          </choice>
        </oneOrMore>
      </element>
    </interleave>
  </define>
  <define name="publicationCountriesElement">
    <element name="countries">
      <oneOrMore>
        <ref name="countryElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="canonicalContentBook">
    <element name="book">
      <attribute name="code">
        <ref name="canonicalBookIdEnum"/>
      </attribute>
    </element>
  </define>
  <define name="publicationStructureDivision">
    <element name="division">
      <attribute name="name">
        <ref name="nameIdString"/>
      </attribute>
      <optional>
        <attribute name="role">
          <ref name="roleId"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="publicationStructureDivision"/>
          <ref name="publicationStructureContent"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="publicationStructureContent">
    <element name="content">
      <interleave>
        <optional>
          <attribute name="name">
            <ref name="nameIdString"/>
          </attribute>
        </optional>
        <attribute name="src">
          <ref name="srcPathString"/>
        </attribute>
        <optional>
          <attribute name="role">
            <ref name="roleId"/>
          </attribute>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- publications text -->
  <define name="roleId">
    <text/>
  </define>
  <define name="canonicalBookIdEnum">
    <text/>
  </define>
  <define name="nonCanonicalBookIdEnum">
    <text/>
  </define>
  <define name="publicationId">
    <text/>
  </define>
  <!-- copyright -->
  <define name="copyrightElement">
    <element name="copyright">
      <interleave>
        <optional>
          <ref name="copyrightFullStatementElement"/>
        </optional>
        <optional>
          <ref name="copyrightShortStatementElement"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="copyrightFullStatementElement">
    <element name="fullStatement">
      <oneOrMore>
        <ref name="statementContent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="copyrightShortStatementElement">
    <element name="shortStatement">
      <oneOrMore>
        <ref name="statementContent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="statementContent">
    <choice>
      <ref name="htmlStatementContent"/>
      <ref name="plainStatementContent"/>
    </choice>
  </define>
  <define name="htmlStatementContent">
    <element name="statementContent">
      <attribute name="type">
        <value>xhtml</value>
      </attribute>
      <oneOrMore>
        <ref name="simplifiedHtml"/>
      </oneOrMore>
    </element>
  </define>
  <define name="plainStatementContent">
    <element name="statementContent">
      <attribute name="type">
        <value>plain</value>
      </attribute>
      <text/>
    </element>
  </define>
  <!-- html -->
  <define name="simplifiedHtml">
    <ref name="any_content"/>
  </define>
  <define name="any_content">
    <interleave>
      <zeroOrMore>
        <ref name="any_element"/>
      </zeroOrMore>
      <text/>
    </interleave>
  </define>
  <define name="any_element">
    <element>
      <anyName/>
      <zeroOrMore>
        <ref name="any_attribute"/>
      </zeroOrMore>
      <ref name="any_content"/>
    </element>
  </define>
  <define name="any_attribute">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <!-- promotion -->
  <define name="promotionElement">
    <element name="promotion">
      <optional>
        <element name="promoVersionInfo">
          <attribute name="contentType">
            <value>xhtml</value>
          </attribute>
          <oneOrMore>
            <ref name="simplifiedHtml"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <!-- archive_status (and progress) -->
  <define name="archiveStatusElement">
    <element name="archiveStatus">
      <interleave>
        <optional>
          <element name="bundleCreatorName">
            <ref name="lenGe2String"/>
          </element>
        </optional>
        <element name="archivistName">
          <ref name="lenGe2String"/>
        </element>
        <element name="dateArchived">
          <data type="dateTime"/>
        </element>
        <element name="dateUpdated">
          <data type="dateTime"/>
        </element>
        <element name="comments">
          <ref name="lenLe255String"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="progressElement">
    <element name="progress">
      <oneOrMore>
        <element name="book">
          <attribute name="code">
            <ref name="canonicalBookIdEnum"/>
          </attribute>
          <attribute name="stage">
            <data type="integer">
              <param name="minInclusive">1</param>
              <param name="maxInclusive">6</param>
            </data>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </define>
</grammar>
