v2/2_1_1/schemas/dbl-xhtml.rnc

# dbl-xhtml.rnc v2.1.1
# Generated by mark@notamacbook using makeRNC.py
# Generated Tue Apr 17 13:32:31 2018

# Standalone xhtml schema

start = element * { simplifiedHtml }

# html

simplifiedHtml = shBlockElement+

shBlockElement = (
    shP |
    shH1 |
    shH2 |
    shH3 |
    shUl |
    shOl |
    shBlockquote
)

shP = element p { mixed { shCharMarkup* } }

shH1 = element h1 { mixed { shCharMarkup* } }

shH2 = element h2 { mixed { shCharMarkup* } }

shH3 = element h3 { mixed { shCharMarkup* } }

shOl = element ol { shLi+ }

shUl = element ul { shLi+ }

shLi = element li { mixed { shCharMarkup* & shBlockElement* } }

shBlockquote = element blockquote { shBlockElement+ }

shCharMarkup = (
  shA |
  shImg |
  shBr |
  shStrong |
  shB |
  shEm |
  shI
)

shA =
  element a {
    attribute href { anyURI },
    mixed { shCharMarkup*  }
  }

shImg =
  element img {
    attribute src { anyURI },
    attribute alt { lenGe1String }
  }

shBr = element br { empty }

shStrong = element strong { mixed { shCharMarkup* } }

shB = element b { mixed { shCharMarkup* } }

shEm = element em { mixed { shCharMarkup* } }

shI = element i { mixed { shCharMarkup* } }

# generic text

nonEmptyString = text

lenGe1String = xsd:string { minLength = "1" pattern="\S(.*\S)?" }

lenGe2String = xsd:string { minLength = "2" pattern="\S.*\S" }

lenGe2Le255String = xsd:string { minLength = "2" maxLength = "255" pattern="\S.*\S" }

lenGe1Le255String = xsd:string { minLength = "1" maxLength = "255" pattern="\S(.*\S)?" }

lenGe1Le1024String = xsd:string { minLength = "1" maxLength = "1024" pattern="\S(.*\S)?" }

lenLe255String = xsd:string { maxLength = "255" pattern="\S.*\S" }

anyURI = xsd:anyURI

