v2/2_1_1/schemas/dbl-xhtml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!--
    dbl-xhtml.rnc v2.1.1
    Generated by mark@notamacbook using makeRNC.py
    Generated Tue Feb  6 19:20:05 2018
  -->
  <!-- Standalone xhtml schema -->
  <!-- html -->
  <xs:group name="simplifiedHtml">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="shBlockElement"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="shBlockElement" abstract="true"/>
  <xs:element name="p" substitutionGroup="shBlockElement">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="h1" substitutionGroup="shBlockElement">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="h2" substitutionGroup="shBlockElement">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="h3" substitutionGroup="shBlockElement">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ol" substitutionGroup="shBlockElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ul" substitutionGroup="shBlockElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="li"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="li">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="shCharMarkup"/>
        <xs:element ref="shBlockElement"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="blockquote" substitutionGroup="shBlockElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="shBlockElement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shCharMarkup" abstract="true"/>
  <xs:element name="a" substitutionGroup="shCharMarkup">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
      <xs:attribute name="href" use="required" type="anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="img" substitutionGroup="shCharMarkup">
    <xs:complexType>
      <xs:attribute name="src" use="required" type="anyURI"/>
      <xs:attribute name="alt" use="required" type="lenGe1String"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="br" substitutionGroup="shCharMarkup">
    <xs:complexType/>
  </xs:element>
  <xs:element name="strong" substitutionGroup="shCharMarkup">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="b" substitutionGroup="shCharMarkup">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="em" substitutionGroup="shCharMarkup">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="i" substitutionGroup="shCharMarkup">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shCharMarkup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- generic text -->
  <xs:simpleType name="lenGe1String">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:pattern value="\S(.*\S)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lenGe2String">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:pattern value="\S.*\S"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lenGe2Le255String">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="255"/>
      <xs:pattern value="\S.*\S"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lenGe1Le255String">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
      <xs:pattern value="\S(.*\S)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lenGe1Le1024String">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1024"/>
      <xs:pattern value="\S(.*\S)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lenLe255String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
      <xs:pattern value="\S.*\S"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="anyURI">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
</xs:schema>
